### CT Statewide House Sales Transactions
This notebook is for producing a cleaned version of the data from https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu?category=Housing-and-Development , which lists CT statewide sales transactions on individual properties from 2001-2016.

View the raw data here: https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv

View the meanings of NonUseCodes here: file:///C:/Users/jleekas/Downloads/OPM-RealEstate_Codes.pdf

#### Needed Cleaning
* Trim whitespace and replace double-spaces with single-spaces (done)
* Replace address abbreviations like "LN" with their full form, "LANE" (done)
* Catch mispellings of towns and street names using Python fuzzywuzzy

__Note:__ There are several data cleaning notebooks because to run the processes on all the years of data at once has been taking so, so long.

This is where I test my cleaning process on just a small sample of 2000 listings.

In [ ]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv")

### Subset: top 2000 listings.

In [3]:
sample = raw_df[0:2000]
len(sample)

2000

### Trim whitespace at the ends and middle of fields.

In [76]:
def trim_whitespace(df, column):
    """
    Removes all trailing and leading whitespace in a string. Will also turn double spaces into single spaes.
    """
    new_df = df.copy()
    
    for index in new_df.index:
        new_df.loc[index,column] = new_df.loc[index,column].strip().replace('  ', ' ')
    return new_df

In [77]:
new_sample = trim_whitespace(sample, 'Town')
new_sample = trim_whitespace(sample, 'Address')

In [78]:
new_sample.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK

In [79]:
street_conversions = {
    ' LN':' LANE',
    ' RD':' ROAD',
    ' ST':' STREET',
    ' DR':' DRIVE',
    ' PL':' PLACE',
    ' HL': ' HILL'
}
def convert_address_street_abbreviations(df, conversions):
    """
    Will go through all the rows in a copy of df and change street abbreviations to their full names,
    i.e. "10 CHESTER BROOKS LN" will become "10 CHESTER BROOKS LANE".
    """
    new_df = df.copy()
    
    # Iterate through each row
    for index in new_df.index:
        current = str(new_df.loc[index, 'Address']) # get current address
        #print(current)
        
        for key in street_conversions.keys():
            if key in current:
                # DR is a special case because 'DR' in 'DRIVE' already. Avoid changing to 'DRIVEIVE'
                if key != ' DR' or (key == ' DR' and ' DRIVE' not in current):
                    new_df.loc[index, 'Address'] = current.replace(key, street_conversions[key])
                break
    
    return new_df

In [80]:
clean_df = convert_address_street_abbreviations(new_sample, street_conversions)

In [81]:
clean_df.head(50)

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK
5,6,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.341232,Residential,Single Family,0,NaN
6,7,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.340000,Residential,Single Family,0,NaN
7,8,30047,2003,04/19/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
8,9,40003,2004,10/18/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,194100,446639.0,43.457916,Residential,Single Family,7,NaN
9,10,70005,2007,11/19/2007 12:00:00 AM,Andover,10 CHESTER BROOKS LANE,313400,425000.0,0.737412,Residential,Single Family,NaN,NaN
10,11,40042,2004,05/23/2005 12:00:00 AM,Andover,10 DOGWOOD DRIVE,218700,440000.0,49.704545,Residential,Single Family,7,NaN
11,12,13021,2013,06/16/2014 12:00:00 AM,Andover,10 HICKORY HILL DRIVE,109400,165000.0,0.663000,Residential,Single Family,NaN,NaN
12,13,40035,2004,04/01/2005 12:00:00 AM,Andover,10 HICKORY HL DRIVE,77900,184000.0,42.336957,Residential,Single Family,0,NaN
13,14,14044,2014,09/28/2015 12:00:00 AM,Andover,10 PINE RIDGE DRIVE,108700,128368.0,0.846784,Residential,Single Family,NaN,NaN
14,15,50027,2005,03/16/2006 12:00:00 AM,Andover,10 SHODDY ML ROAD,84900,215000.0,39.488372,Residential,Single Family,1,NaN
15,16,30063,2003,07/15/2004 12:00:00 AM,Andover,101 GILEAD ROAD,104000,218000.0,47.700000,Residential,Single Family,0,NaN
16,17,14035,2014,08/10/2015 12:00:00 AM,Andover,101 WALES ROAD,164000,230000.0,0.713043,Residential,Single Family,NaN,NaN
17,18,900008,2009,12/14/2009 12:00:00 AM,Andover,101 WALES ROAD,186400,248500.0,0.750101,Residential,Single Family,NaN,NaN
18,19,40650,2004,08/18/2005 12:00:00 AM,Andover,102 GILEAD ROAD,111100,279900.0,39.692747,Residential,Single Family,0,NaN
19,20,30055,2003,01/06/2004 12:00:00 AM,Andover,104 WEST STREET,52300,314867.0,16.610000,Residential,Single Family,7,NaN
20,21,30037,2003,02/02/2004 12:00:00 AM,Andover,106 HENDEE ROAD,106100,220000.0,48.220000,Residential,Single Family,0,NaN
21,22,15051,2015,09/28/2016 12:00:00 AM,Andover,107 LAKESIDE DRIVE,188400,226000.0,0.833628,Residential,Single Family,NaN,NaN
22,23,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.232877,Residential,Single Family,0,NaN
23,24,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.230000,Residential,Single Family,0,NaN
24,25,13010,2013,03/17/2014 12:00:00 AM,Andover,11 CENTER STREETREET,130200,164000.0,0.794000,Residential,Single Family,NaN,NaN
25,26,30072,2003,08/16/2004 12:00:00 AM,Andover,11 DOGWOOD DRIVE,45600,449900.0,10.130000,Residential,Single Family,7,NaN
26,27,100027,2010,07/11/2011 12:00:00 AM,Andover,11 DOGWOOD DRIVE,348600,450000.0,0.774667,Residential,Single Family,NaN,NaN
27,28,40001,2004,10/12/2004 12:00:00 AM,Andover,11 SHADBLOW LANE,132800,381900.0,34.773501,Residential,Single Family,7,NaN
28,29,14002,2014,10/28/2014 12:00:00 AM,Andover,11 WEST STREET,89400,48000.0,1.862500,Residential,Single Family,NaN,NaN
29,30,50050,2005,08/07/2006 12:00:00 AM,Andover,11 WHEELING ROAD,116500,215000.0,54.186047,Residential,Single Family,6,NaN
30,31,30068,2003,07/29/2004 12:00:00 AM,Andover,11 WOOD FERN WAY,30200,100000.0,30.200000,Vacant Land,NaN,0,NaN
31,32,50046,2005,07/11/2006 12:00:00 AM,Andover,11 WOOD FERN WAY,54900,465000.0,11.806452,Residential,Single Family,7,NaN
32,33,70019,2007,04/29/2008 12:00:00 AM,Andover,111 LAKESIDE DRIVE,198100,350000.0,0.566000,Residential,Single Family,NaN,NaN
33,34,20037,2002,05/05/2003 12:00:00 AM,Andover,112 LAKE ROAD,0,129000.0,0.000000,Residential,Single Family,0,NaN
34,35,20037,2002,05/05/2003 12:00:00 AM,Andover,112 LAKE ROAD,78400,129000.0,60.770000,Residential,Single Family,0,NaN
35,36,800030,2008,06/30/2009 12:00:00 AM,Andover,112 LAKE ROAD,137000,177900.0,0.770096,Residential,Single Family,NaN,NaN
36,37,15011,2015,01/04/2016 12:00:00 AM,Andover,112 TOWNSEND ROAD,213200,332900.0,0.640433,Residential,Single Family,01 - Family,HOUSE SOLD FROM ANTHONY WILLIAM BIASE TO JOHN ...
37,38,30073,2003,08/23/2004 12:00:00 AM,Andover,113 LONG HL ROAD,85600,182500.0,46.900000,Residential,Single Family,0,NaN
38,39,120023,2012,03/28/2013 12:00:00 AM,Andover,113 SHODDY MILL ROAD,157000,204000.0,0.769608,Residential,Single Family,NaN,0
39,40,900037,2009,08/09/2010 12:00:00 AM,Andover,113 WILLOW DRIVE,141000,133833.0,1.053552,Residential,Single Family,NaN,NaN
40,41,30054,2003,04/30/2004 12:00:00 AM,Andover,114 HENDEE ROAD,90400,189900.0,47.600000,Residential,Single Family,0,NaN
41,42,40027,2004,03/28/2005 12:00:00 AM,Andover,114 LAKE ROAD,70000,150000.0,46.666667,Residential,Single Family,18,NaN
42,43,13035,2013,09/23/2014 12:00:00 AM,Andover,117 LONG HILL ROAD,103100,154000.0,0.669000,Residential,Single Family,NaN,NaN
43,44,50015,2005,01/03/2006 12:00:00 AM,Andover,117 LONG HL ROAD,63800,142000.0,44.900000,Residential,Single Family,0,NaN
44,45,110002,2011,12/05/2011 12:00:00 AM,Andover,119 LAKESIDE DRIVE,208400,218000.0,0.955963,Residential,Single Family,NaN,NaN
45,46,14043,2014,09/22/2015 12:00:00 AM,Andover,12 CENTER STREET,52400,11000.0,4.763636,Residential,Single Family,NaN,NaN
46,47,30050,2003,04/01/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
47,48,30051,2003,03/31/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,125000.0,45.280000,Vacant Land,NaN,26,NaN
48,49,14029,2014,06/30/2015 12:00:00 AM,Andover,12 LINDHOLM'S CORNER,131700,16869.0,7.807220,Residential,Single Family,NaN,NaN
49,50,70022,2007,06/02/2008 12:00:00 AM,Andover,12 ROSE LANE,102300,172500.0,0.593043,Residential,Single Family,NaN,NaN

### Create CSVs for each year of listings.

In [82]:
def clean_raw_data(raw_data):
    clean_data = raw_data.copy()
    clean_data = trim_whitespace(clean_data, 'Town')
    print("First clean done.")
    clean_data = trim_whitespace(clean_data, 'Address')
    print("Second clean done.")
    clean_data = convert_address_street_abbreviations(clean_data, street_conversions)
    print("Third clean done. Returning...")
    
    return clean_data

In [83]:
new_clean_data = clean_raw_data(sample)
new_clean_data.head()

First clean done.
Second clean done.
Third clean done. Returning...

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK

In [84]:
def create_clean_csv(raw_df, year):
    """
    Given a raw dataframe and a listing year, this will first extract all the listings
    from year from raw_df. Then, it will create a clean version of that dataframe.
    Then, it will write this to a csv file.
    
    The file name convention is clean_data_year_listings.csv
    """
    raw_subset = raw_df[raw_df['ListYear'] == year]
    clean_subset = clean_raw_data(raw_subset)
    file_location = "data/clean_data_" + str(year) + "_listings.csv"
    clean_subset.to_csv(file_location)

In [ ]:
create_clean_csv(raw_df, 2001)