### CT Statewide House Sales Transactions
This notebook is exploring the data from https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu?category=Housing-and-Development , which lists CT statewide sales transactions on individual properties from 2001-2016.

View the raw data here: https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv

View the meanings of NonUseCodes here: file:///C:/Users/jleekas/Downloads/OPM-RealEstate_Codes.pdf

### Potential Inquiries
* See where properties with multiple transactions gained and lost value --> (How many houses, how much value, by town, over different periods of time)
* Foreclosures-- where and when have there been a lot?
* Building of new developments? (Might be shown by selling many houses in a short period of time on a new road)
* Distribution of house prices in given towns, or on given streets
* Signs of house flipping, i.e. a purchase and a sale for significantly more within a short period
* Has recovery been different for different segments of the market (different price-range hosues)?
* Are there observable effects of the crumbling fundations in the northeastern part of CT?

### Calculations
* Adjust sales prices for inflation/season
* Take a close look at the assessment column
* Each town's assessment rate, or look at a hosue's sale ratio relative to its town only

In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv")

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK

### Q: Why are the Berlin addresses all 0? Is this a suppression?

In [9]:
raw_df[raw_df['Town'] == 'Berlin']

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
13398,13399,900154,2009,05/18/2010 12:00:00 AM,Berlin,0 & 424 BERLIN ST EB,315900,295000.0,1.070847,Commercial,NaN,25,NaN
13399,13400,130288,2013,09/15/2014 12:00:00 AM,Berlin,0 BERLIN ST LOT 19A,51500,126000.0,0.409000,Vacant Land,NaN,6,NaN
13400,13401,50284,2005,06/30/2006 12:00:00 AM,Berlin,0 BERLIN TPKE,75600,6000.0,1260.000000,Commercial,NaN,24,NaN
13401,13402,100053,2010,11/22/2010 12:00:00 AM,Berlin,0 BERLIN TPKE,185600,1028000.0,0.180545,Vacant Land,NaN,25,NaN
13402,13403,160263,2016,07/28/2017 12:00:00 AM,Berlin,0 BERLIN TPKE - 27-4/153/31,7644,35000.0,0.218400,Vacant Land,NaN,28 - Use Assessment,non qualified sale - farmland exemption
13403,13404,100085,2010,01/14/2011 12:00:00 AM,Berlin,0 CHAMBERLAIN HWY 25-4/74/52,3452,70000.0,0.049314,Vacant Land,NaN,28,NaN
13404,13405,100092,2010,01/31/2011 12:00:00 AM,Berlin,0 CLARK DR,163800,277500.0,0.590270,Vacant Land,NaN,NaN,NaN
13405,13406,130294,2013,09/15/2014 12:00:00 AM,Berlin,0 COMMERCE ST LOT 18A,5400,75000.0,0.072000,Vacant Land,NaN,25,ASSESSED AS NON BUILDABLE LOT
13406,13407,150060,2015,11/23/2015 12:00:00 AM,Berlin,0 DEMING RD,122800,260000.0,0.472308,Commercial,NaN,NaN,qualified sale
13407,13408,40210,2004,04/20/2005 12:00:00 AM,Berlin,0 EDGEWOOD RD LT 10,8200,70000.0,11.714286,Vacant Land,NaN,7,NaN
13408,13409,110081,2011,01/03/2012 12:00:00 AM,Berlin,0 GROVE HILL,77800,65000.0,1.196923,Vacant Land,NaN,NaN,NaN
13409,13410,140270,2014,09/10/2015 12:00:00 AM,Berlin,0 HARDING STREET,65900,55000.0,1.198182,Vacant Land,NaN,NaN,NaN
13410,13411,160316,2016,09/08/2017 12:00:00 AM,Berlin,0 HIGH ROAD,49200,7225945.0,0.006809,Commercial,NaN,25 - Other,non qualified sale - sold along with 1 and 20 ...
13411,13412,110002,2011,10/03/2011 12:00:00 AM,Berlin,0 HILLSIDE RD,108500,234000.0,0.463675,Vacant Land,NaN,NaN,NaN
13412,13413,160036,2016,10/31/2016 12:00:00 AM,Berlin,0 HILLSIDE RD LOT 3,90300,250000.0,0.361200,Vacant Land,NaN,NaN,qualified sale
13413,13414,130290,2013,09/15/2014 12:00:00 AM,Berlin,0 HILLSIDE RD LOT 33-1A,124400,280000.0,0.444000,Vacant Land,NaN,NaN,NaN
13414,13415,110079,2011,12/29/2011 12:00:00 AM,Berlin,0 HILLSIDE RD LOT 33A-1,108500,240000.0,0.452083,Vacant Land,NaN,NaN,NaN
13415,13416,130232,2013,07/18/2014 12:00:00 AM,Berlin,0 KENSINGTON RD,77500,50000.0,1.550000,Vacant Land,NaN,NaN,15-3/70/3-3
13416,13417,160327,2016,09/20/2017 12:00:00 AM,Berlin,0 KENSINGTON ROAD MBLU 20-2-72,43100,91000.0,0.473626,Vacant Land,NaN,NaN,qualified sale
13417,13418,150049,2015,11/04/2015 12:00:00 AM,Berlin,"0 MILL ST, LOT 3",14900,48000.0,0.310417,Commercial,NaN,NaN,qualified sale
13418,13419,110001,2011,10/03/2011 12:00:00 AM,Berlin,0 MOORELAND RD,164200,67000.0,2.450746,Vacant Land,NaN,6,NaN
13419,13420,130285,2013,09/11/2014 12:00:00 AM,Berlin,0 NEW BRITAIN RD,11100,10000.0,1.110000,Vacant Land,NaN,25,SOLD BELOW ASSESSED VALUE
13420,13421,140503,2014,09/30/2015 12:00:00 AM,Berlin,0 NORTON ROAD,106600,622321.0,0.171294,Vacant Land,NaN,NaN,NaN
13421,13422,140504,2014,09/30/2015 12:00:00 AM,Berlin,0 NORTON ROAD,106600,250000.0,0.426400,Vacant Land,NaN,NaN,NaN
13422,13423,160189,2016,05/25/2017 12:00:00 AM,Berlin,0 SOUTHINGTON RD,93800,104400.0,0.898467,Vacant Land,NaN,NaN,NaN
13423,13424,100084,2010,01/13/2011 12:00:00 AM,Berlin,0 SPICEWOOD LN 13-4/13/279,81800,102500.0,0.798049,Vacant Land,NaN,NaN,NaN
13424,13425,900178,2009,06/01/2010 12:00:00 AM,Berlin,0 UPSON AVE,7400,10600.0,0.698113,Vacant Land,NaN,NaN,NaN
13425,13426,110051,2011,11/30/2011 12:00:00 AM,Berlin,0 UPSON AVE LOT 43,5700,6500.0,0.876923,Vacant Land,NaN,NaN,NaN
13426,13427,900253,2009,09/28/2010 12:00:00 AM,Berlin,0 UPSON AVE LOTS 23 & 24,145600,115000.0,1.266087,Vacant Land,NaN,25,NaN
13427,13428,110018,2011,10/24/2011 12:00:00 AM,Berlin,0 WEBSTER RIDGE,89700,119000.0,0.753782,Vacant Land,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17719,17720,60045,2006,11/02/2006 12:00:00 AM,Berlin,UPSON AVE LTS 23 & 24,89400,30000.0,2.980000,Vacant Land,NaN,01,addl remarks
17720,17721,60366,2006,09/17/2007 12:00:00 AM,Berlin,VICTORIA CT LT 15 2,247900,200000.0,1.239500,Vacant Land,NaN,06,addl remarks
17721,17722,60112,2006,01/10/2007 12:00:00 AM,Berlin,VICTORIA CT LT 15 4,247900,229900.0,1.078295,Vacant Land,NaN,07,addl remarks
17722,17723,60101,2006,12/21/2006 12:00:00 AM,Berlin,VICTORIA CT LT 15 5,247900,219900.0,1.127331,Vacant Land,NaN,06,addl remarks
17723,17724,60349,2006,09/04/2007 12:00:00 AM,Berlin,VICTORIA CT LT 15 7,247900,210000.0,1.180476,Vacant Land,NaN,07,addl remarks
17724,17725,30390,2003,09/28/2004 12:00:00 AM,Berlin,WATCH HL LT 7-46,94900,30000.0,316.330000,Vacant Land,NaN,3,NaN
17725,17726,30391,2003,09/28/2004 12:00:00 AM,Berlin,WATCH HL LT 7-46,94900,275000.0,34.500000,Vacant Land,NaN,7,NaN
17726,17727,30096,2003,01/14/2004 12:00:00 AM,Berlin,WATCH HL LT 7-9,97600,135000.0,72.290000,Vacant Land,NaN,0,NaN
17727,17728,40120,2004,01/03/2005 12:00:00 AM,Berlin,WATCH HL LT 7 48,96000,130000.0,73.846154,Vacant Land,NaN,7,NaN
17728,17729,10148,2001,01/15/2002 12:00:00 AM,Berlin,WEBSTER SQ RD UT 5B,130480,130000.0,100.369231,Commercial,NaN,14,NaN
17729,17730,60103,2006,12/28/2006 12:00:00 AM,Berlin,WETHERSFIELD RD &,436000,207565.0,2.100547,Residential,Single Family,03,addl remarks
17730,17731,40403,2004,09/21/2005 12:00:00 AM,Berlin,WETHERSFIELD RD LT 4,10000,1490000.0,0.671141,Vacant Land,NaN,28,NaN
17731,17732,60095,2006,12/19/2006 12:00:00 AM,Berlin,WHITE OAK DR LT 10,79800,114000.0,0.700000,Industrial,NaN,03,addl remarks
17732,17733,50107,2005,12/29/2005 12:00:00 AM,Berlin,WHITE OAK DR LT 105,62500,155000.0,40.300000,Vacant Land,NaN,0,NaN
17733,17734,40310,2004,07/14/2005 12:00:00 AM,Berlin,WHITE OAK DR LT 8C,90400,135000.0,66.962963,Industrial,NaN,0,NaN
17734,17735,10273,2001,05/24/2002 12:00:00 AM,Berlin,WILBUR CROSS HWY LT 1,101850,129000.0,78.953488,Vacant Land,NaN,0,NaN
17735,17736,10393,2001,08/15/2002 12:00:00 AM,Berlin,WILBUR CROSS HWY LT 8,89430,150000.0,59.620000,Vacant Land,NaN,0,NaN
17736,17737,60035,2006,10/30/2006 12:00:00 AM,Berlin,WILDERMERE RD LT 10 B 2,82600,275000.0,0.300364,Vacant Land,NaN,NaN,addl remarks
17737,17738,50056,2005,11/23/2005 12:00:00 AM,Berlin,WILDERMERE RD LT 10B,200400,195000.0,102.769231,Residential,Single Family,6,NaN
17738,17739,50397,2005,09/26/2006 12:00:00 AM,Berlin,WILDERMERE RD LT 37,62800,120000.0,52.300000,Residential,Single Family,0,NaN
17739,17740,40294,2004,06/30/2005 12:00:00 AM,Berlin,WILK'S POND RD LT 4B,74000,155000.0,47.741935,Vacant Land,NaN,6,NaN
17740,17741,10020,2001,10/04/2001 12:00:00 AM,Berlin,WORTHINGTON RDG,42780,13900.0,307.769784,Vacant Land,NaN,12,NaN
17741,17742,10018,2001,10/04/2001 12:00:00 AM,Berlin,WORTHINGTON RDG,42780,5212.0,820.798158,Residential,Single Family,12,NaN
17742,17743,10019,2001,10/04/2001 12:00:00 AM,Berlin,WORTHINGTON RDG,42780,6950.0,615.539568,Vacant Land,NaN,12,NaN
17743,17744,10408,2001,08/27/2002 12:00:00 AM,Berlin,WORTHINGTON RDG,9880,3089.0,319.844610,Vacant Land,NaN,6,NaN
17744,17745,10407,2001,08/27/2002 12:00:00 AM,Berlin,WORTHINGTON RDG,9880,5792.0,170.580110,Vacant Land,NaN,6,NaN
17745,17746,50109,2005,01/03/2006 12:00:00 AM,Berlin,WORTHINGTON RDG LT 16 2,52600,137500.0,38.300000,Vacant Land,NaN,0,NaN
17746,17747,10463,2001,09/10/2002 12:00:00 AM,Berlin,WORTHINGTON RDG LT 21A,33740,500.0,6748.000000,Vacant Land,NaN,19,NaN
17747,17748,50186,2005,04/03/2006 12:00:00 AM,Berlin,WORTHINGTON RDG LT 4B,181200,110000.0,164.727273,Vacant Land,NaN,6,NaN
17748,17749,50185,2005,04/03/2006 12:00:00 AM,Berlin,WORTHINGTON RDG LT 4C,181200,105000.0,172.571429,Vacant Land,NaN,6,NaN

In [18]:
foreclosures = raw_df[raw_df['NonUseCode'] == '14']
foreclosures.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
92,93,900022,2009,05/10/2010 12:00:00 AM,Andover,147 WHEELING ROAD,167200,242000.0,0.690909,Residential,Single Family,14,NaN
110,111,13025,2013,07/14/2014 12:00:00 AM,Andover,154 WALES RD,103900,74500.0,1.395000,Residential,Single Family,14,SALE OF A FORECLOSED PROPERTY
128,129,120041,2012,09/04/2013 12:00:00 AM,Andover,163 LAKE ROAD,106200,39000.0,2.723077,Residential,Single Family,14,0
185,186,900042,2009,09/09/2010 12:00:00 AM,Andover,209 BUNKER HILL ROAD,238600,194819.0,1.224727,Residential,Single Family,14,NaN
186,187,100010,2010,02/14/2011 12:00:00 AM,Andover,209 BUNKER HILL ROAD,238600,129900.0,1.836798,Residential,Single Family,14,NaN

In [22]:
len(foreclosures['Address'].unique())

26812

In [30]:
listings2001 = raw_df[raw_df['ListYear'] == 2001]
new_df = listings2001.copy()