### CT Statewide House Sales Transactions
This notebook is for producing a cleaned version of the data from https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu?category=Housing-and-Development , which lists CT statewide sales transactions on individual properties from 2001-2016. This cleans the data in year-by-year sections and outputs csvs for each year. It then recomes the data in these csvs into one cleaned csv with all the data.

View the raw data here: https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv

View the meanings of NonUseCodes here: file:///C:/Users/jleekas/Downloads/OPM-RealEstate_Codes.pdf

#### Needed Cleaning
* Trim whitespace and replace double-spaces with single-spaces (done)
* Replace address abbreviations like "LN" with their full form, "LANE" (done)
* Fix NonUseCodes. Should be ints only. Use 0 or -1 for absence of a NonUseCode. (done)
* Remove duplicate transactions. (done)
* Catch mispellings of towns and street names using Python fuzzywuzzy (do later, when you are ready to look at individual properties.)

__Note:__ There are several data cleaning notebooks because to run the processes on all the years of data at once has been taking so, so long.

This is where I test my cleaning process on just a small sample of 2000 listings.

In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("https://raw.githubusercontent.com/jamiekasulis/ct_real_estate_sales/master/Real_Estate_Sales_2001-2016.csv")

### Subset: top 2000 listings. Use this to test cleaning functions.

In [79]:
sample = raw_df[0:2000]
len(sample)

2000

### Trim whitespace at the ends and middle of fields.

In [3]:
def trim_whitespace(df, column):
    """
    Removes all trailing and leading whitespace in a string. Will also turn double spaces into single spaes.
    """
    new_df = df.copy()
    
    for index in new_df.index:
        new_df.loc[index,column] = str(new_df.loc[index,column]).strip().replace('  ', ' ')
    return new_df

In [5]:
new_sample = trim_whitespace(sample, 'Town')
new_sample = trim_whitespace(sample, 'Address')

In [6]:
new_sample.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK

### Convert abbreviated street names to their full names.
Will have to do more thorough Address cleaning later.

In [4]:
street_conversions = {
    ' LN':' LANE',
    ' RD':' ROAD',
    ' ST':' STREET',
    ' DR':' DRIVE',
    ' PL':' PLACE',
    ' HL': ' HILL'
}
def convert_address_street_abbreviations(df, conversions):
    """
    Will go through all the rows in a copy of df and change street abbreviations to their full names,
    i.e. "10 CHESTER BROOKS LN" will become "10 CHESTER BROOKS LANE".
    """
    new_df = df.copy()
    
    # Iterate through each row
    for index in new_df.index:
        current = str(new_df.loc[index, 'Address']) # get current address
        #print(current)
        
        for key in street_conversions.keys():
            if key in current:
                # DR is a special case because 'DR' in 'DRIVE' already. Avoid changing to 'DRIVEIVE'
                if key != ' DR' or (key == ' DR' and ' DRIVE' not in current):
                    new_df.loc[index, 'Address'] = current.replace(key, street_conversions[key])
                break
    
    return new_df

In [8]:
clean_df = convert_address_street_abbreviations(new_sample, street_conversions)

In [9]:
clean_df.head(50)

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,NaN,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,NaN,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,NaN,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,NaN,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14 - Foreclosure,PROPERTY WAS OWNED BY THE BANK
5,6,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.341232,Residential,Single Family,0,NaN
6,7,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.340000,Residential,Single Family,0,NaN
7,8,30047,2003,04/19/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
8,9,40003,2004,10/18/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,194100,446639.0,43.457916,Residential,Single Family,7,NaN
9,10,70005,2007,11/19/2007 12:00:00 AM,Andover,10 CHESTER BROOKS LANE,313400,425000.0,0.737412,Residential,Single Family,NaN,NaN
10,11,40042,2004,05/23/2005 12:00:00 AM,Andover,10 DOGWOOD DRIVE,218700,440000.0,49.704545,Residential,Single Family,7,NaN
11,12,13021,2013,06/16/2014 12:00:00 AM,Andover,10 HICKORY HILL DRIVE,109400,165000.0,0.663000,Residential,Single Family,NaN,NaN
12,13,40035,2004,04/01/2005 12:00:00 AM,Andover,10 HICKORY HL DRIVE,77900,184000.0,42.336957,Residential,Single Family,0,NaN
13,14,14044,2014,09/28/2015 12:00:00 AM,Andover,10 PINE RIDGE DRIVE,108700,128368.0,0.846784,Residential,Single Family,NaN,NaN
14,15,50027,2005,03/16/2006 12:00:00 AM,Andover,10 SHODDY ML ROAD,84900,215000.0,39.488372,Residential,Single Family,1,NaN
15,16,30063,2003,07/15/2004 12:00:00 AM,Andover,101 GILEAD ROAD,104000,218000.0,47.700000,Residential,Single Family,0,NaN
16,17,14035,2014,08/10/2015 12:00:00 AM,Andover,101 WALES ROAD,164000,230000.0,0.713043,Residential,Single Family,NaN,NaN
17,18,900008,2009,12/14/2009 12:00:00 AM,Andover,101 WALES ROAD,186400,248500.0,0.750101,Residential,Single Family,NaN,NaN
18,19,40650,2004,08/18/2005 12:00:00 AM,Andover,102 GILEAD ROAD,111100,279900.0,39.692747,Residential,Single Family,0,NaN
19,20,30055,2003,01/06/2004 12:00:00 AM,Andover,104 WEST STREET,52300,314867.0,16.610000,Residential,Single Family,7,NaN
20,21,30037,2003,02/02/2004 12:00:00 AM,Andover,106 HENDEE ROAD,106100,220000.0,48.220000,Residential,Single Family,0,NaN
21,22,15051,2015,09/28/2016 12:00:00 AM,Andover,107 LAKESIDE DRIVE,188400,226000.0,0.833628,Residential,Single Family,NaN,NaN
22,23,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.232877,Residential,Single Family,0,NaN
23,24,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.230000,Residential,Single Family,0,NaN
24,25,13010,2013,03/17/2014 12:00:00 AM,Andover,11 CENTER STREETREET,130200,164000.0,0.794000,Residential,Single Family,NaN,NaN
25,26,30072,2003,08/16/2004 12:00:00 AM,Andover,11 DOGWOOD DRIVE,45600,449900.0,10.130000,Residential,Single Family,7,NaN
26,27,100027,2010,07/11/2011 12:00:00 AM,Andover,11 DOGWOOD DRIVE,348600,450000.0,0.774667,Residential,Single Family,NaN,NaN
27,28,40001,2004,10/12/2004 12:00:00 AM,Andover,11 SHADBLOW LANE,132800,381900.0,34.773501,Residential,Single Family,7,NaN
28,29,14002,2014,10/28/2014 12:00:00 AM,Andover,11 WEST STREET,89400,48000.0,1.862500,Residential,Single Family,NaN,NaN
29,30,50050,2005,08/07/2006 12:00:00 AM,Andover,11 WHEELING ROAD,116500,215000.0,54.186047,Residential,Single Family,6,NaN
30,31,30068,2003,07/29/2004 12:00:00 AM,Andover,11 WOOD FERN WAY,30200,100000.0,30.200000,Vacant Land,NaN,0,NaN
31,32,50046,2005,07/11/2006 12:00:00 AM,Andover,11 WOOD FERN WAY,54900,465000.0,11.806452,Residential,Single Family,7,NaN
32,33,70019,2007,04/29/2008 12:00:00 AM,Andover,111 LAKESIDE DRIVE,198100,350000.0,0.566000,Residential,Single Family,NaN,NaN
33,34,20037,2002,05/05/2003 12:00:00 AM,Andover,112 LAKE ROAD,0,129000.0,0.000000,Residential,Single Family,0,NaN
34,35,20037,2002,05/05/2003 12:00:00 AM,Andover,112 LAKE ROAD,78400,129000.0,60.770000,Residential,Single Family,0,NaN
35,36,800030,2008,06/30/2009 12:00:00 AM,Andover,112 LAKE ROAD,137000,177900.0,0.770096,Residential,Single Family,NaN,NaN
36,37,15011,2015,01/04/2016 12:00:00 AM,Andover,112 TOWNSEND ROAD,213200,332900.0,0.640433,Residential,Single Family,01 - Family,HOUSE SOLD FROM ANTHONY WILLIAM BIASE TO JOHN ...
37,38,30073,2003,08/23/2004 12:00:00 AM,Andover,113 LONG HL ROAD,85600,182500.0,46.900000,Residential,Single Family,0,NaN
38,39,120023,2012,03/28/2013 12:00:00 AM,Andover,113 SHODDY MILL ROAD,157000,204000.0,0.769608,Residential,Single Family,NaN,0
39,40,900037,2009,08/09/2010 12:00:00 AM,Andover,113 WILLOW DRIVE,141000,133833.0,1.053552,Residential,Single Family,NaN,NaN
40,41,30054,2003,04/30/2004 12:00:00 AM,Andover,114 HENDEE ROAD,90400,189900.0,47.600000,Residential,Single Family,0,NaN
41,42,40027,2004,03/28/2005 12:00:00 AM,Andover,114 LAKE ROAD,70000,150000.0,46.666667,Residential,Single Family,18,NaN
42,43,13035,2013,09/23/2014 12:00:00 AM,Andover,117 LONG HILL ROAD,103100,154000.0,0.669000,Residential,Single Family,NaN,NaN
43,44,50015,2005,01/03/2006 12:00:00 AM,Andover,117 LONG HL ROAD,63800,142000.0,44.900000,Residential,Single Family,0,NaN
44,45,110002,2011,12/05/2011 12:00:00 AM,Andover,119 LAKESIDE DRIVE,208400,218000.0,0.955963,Residential,Single Family,NaN,NaN
45,46,14043,2014,09/22/2015 12:00:00 AM,Andover,12 CENTER STREET,52400,11000.0,4.763636,Residential,Single Family,NaN,NaN
46,47,30050,2003,04/01/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
47,48,30051,2003,03/31/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,125000.0,45.280000,Vacant Land,NaN,26,NaN
48,49,14029,2014,06/30/2015 12:00:00 AM,Andover,12 LINDHOLM'S CORNER,131700,16869.0,7.807220,Residential,Single Family,NaN,NaN
49,50,70022,2007,06/02/2008 12:00:00 AM,Andover,12 ROSE LANE,102300,172500.0,0.593043,Residential,Single Family,NaN,NaN

### Create CSVs for each year of listings.

In [126]:
def clean_raw_data(raw_data):
    clean_data = raw_data.copy()
    clean_data = trim_whitespace(clean_data, 'Town')
    print("First clean done.")
    clean_data = trim_whitespace(clean_data, 'Address')
    print("Second clean done.")
    clean_data = convert_address_street_abbreviations(clean_data, street_conversions)
    print("Third clean done.")
    clean_data = clean_nonusecode(clean_data)
    print("Fourth cleaning done.")
    clean_data = remove_duplicate_rows(clean_data)
    print("Fifth cleaning done. Returning...")
    
    return clean_data

In [14]:
new_clean_data = clean_raw_data(sample)
new_clean_data.head()

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,-1,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,-1,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,-1,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,-1,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14,PROPERTY WAS OWNED BY THE BANK

In [127]:
def create_clean_csv(raw_df, year):
    """
    Given a raw dataframe and a listing year, this will first extract all the listings
    from year from raw_df. Then, it will create a clean version of that dataframe.
    Then, it will write this to a csv file.
    
    The file name convention is clean_data_year_listings.csv
    """
    raw_subset = raw_df[raw_df['ListYear'] == year]
    clean_subset = clean_raw_data(raw_subset)
    file_location = "data/clean_data_" + str(year) + "_listings.csv"
    clean_subset.to_csv(file_location, index=False)

In [16]:
create_clean_csv(raw_df, 2001)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

In [17]:
df_2001 = pd.read_csv("data/clean_data_2001_listings.csv")

In [18]:
raw_2001 = raw_df[raw_df['ListYear'] == 2001]
raw_2001.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
683,684,10173,2001,04/17/2002 12:00:00 AM,Ansonia,1-3 EAGLE ST,63630,116000.0,54.853448,Residential,Two Family,0,NaN
693,694,10005,2001,10/04/2001 12:00:00 AM,Ansonia,1 CRESTWOOD RD,76370,160000.0,47.731250,Residential,Single Family,0,NaN
696,697,10253,2001,06/18/2002 12:00:00 AM,Ansonia,1 DAVIES CT,97720,180000.0,54.288889,Residential,Single Family,0,NaN
697,698,10094,2001,01/17/2002 12:00:00 AM,Ansonia,1 DOREL TER,110600,259900.0,42.554829,Residential,Single Family,0,NaN
709,710,10100,2001,01/30/2002 12:00:00 AM,Ansonia,1 JAMES ST,63210,132000.0,47.886364,Residential,Single Family,0,NaN

In [19]:
df_2001.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,684,10173,2001,04/17/2002 12:00:00 AM,Ansonia,1-3 EAGLE STREET,63630,116000.0,54.853448,Residential,Two Family,0,NaN
1,694,10005,2001,10/04/2001 12:00:00 AM,Ansonia,1 CRESTWOOD ROAD,76370,160000.0,47.731250,Residential,Single Family,0,NaN
2,697,10253,2001,06/18/2002 12:00:00 AM,Ansonia,1 DAVIES CT,97720,180000.0,54.288889,Residential,Single Family,0,NaN
3,698,10094,2001,01/17/2002 12:00:00 AM,Ansonia,1 DOREL TER,110600,259900.0,42.554829,Residential,Single Family,0,NaN
4,710,10100,2001,01/30/2002 12:00:00 AM,Ansonia,1 JAMES STREET,63210,132000.0,47.886364,Residential,Single Family,0,NaN

In [20]:
raw_2001.tail()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
815813,815814,10084,2001,02/07/2002 12:00:00 AM,Woodstock,SENEXET,79630,140000.0,56.87857,Vacant Land,NaN,0,NaN
815814,815815,10239,2001,09/11/2002 12:00:00 AM,Woodstock,SENEXET RD,110780,335000.0,33.06866,Vacant Land,NaN,14,NaN
815865,815866,10210,2001,08/02/2002 12:00:00 AM,Woodstock,TOWN FARM RD,33040,100000.0,33.04000,Vacant Land,NaN,0,NaN
815868,815869,10138,2001,05/02/2002 12:00:00 AM,Woodstock,UNDERWOOD RD,3920,10000.0,39.20000,Vacant Land,NaN,1,NaN
815875,815876,10254,2001,09/23/2002 12:00:00 AM,Woodstock,VALLEY VIEW RD,20330,16000.0,127.06250,Vacant Land,NaN,0,NaN

In [21]:
df_2001.tail()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
59579,815814,10084,2001,02/07/2002 12:00:00 AM,Woodstock,SENEXET,79630,140000.0,56.87857,Vacant Land,NaN,0,NaN
59580,815815,10239,2001,09/11/2002 12:00:00 AM,Woodstock,SENEXET ROAD,110780,335000.0,33.06866,Vacant Land,NaN,14,NaN
59581,815866,10210,2001,08/02/2002 12:00:00 AM,Woodstock,TOWN FARM ROAD,33040,100000.0,33.04000,Vacant Land,NaN,0,NaN
59582,815869,10138,2001,05/02/2002 12:00:00 AM,Woodstock,UNDERWOOD ROAD,3920,10000.0,39.20000,Vacant Land,NaN,1,NaN
59583,815876,10254,2001,09/23/2002 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,20330,16000.0,127.06250,Vacant Land,NaN,0,NaN

In [22]:
len(raw_2001)

59584

In [23]:
len(df_2001)

59584

### Let's standardize this length test.

In [6]:
def get_raw_df(year):
    """Get the raw data in a dataframe for a particular ListYear year."""
    return raw_df[raw_df['ListYear'] == year]

In [7]:
def get_clean_df(year):
    """Get the clean data in a dataframe for a particular ListYear year.
    Uses a clean csv."""
    filename = "data/clean_data_" + str(year) + "_listings.csv"
    return pd.read_csv(filename)

In [26]:
len(get_raw_df(2001)) == len(get_clean_df(2001))

True

In [8]:
def lengths_are_equal(year):
    """
    Will get the raw and clean data for the given year and compare the lengths of these dataframes.
    """
    return len(get_raw_df(year)) == len(get_clean_df(year))

In [28]:
lengths_are_equal(2001)

True

### Now let's produce csvs for all years and test them all.

In [29]:
create_clean_csv(raw_df, 2002)
lengths_are_equal(2002)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [30]:
create_clean_csv(raw_df, 2003)
lengths_are_equal(2003)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [31]:
create_clean_csv(raw_df, 2004)
lengths_are_equal(2004)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [32]:
create_clean_csv(raw_df, 2005)
lengths_are_equal(2005)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [33]:
create_clean_csv(raw_df, 2006)
lengths_are_equal(2006)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [34]:
create_clean_csv(raw_df, 2007)
lengths_are_equal(2007)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [35]:
create_clean_csv(raw_df, 2008)
lengths_are_equal(2008)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [36]:
create_clean_csv(raw_df, 2009)
lengths_are_equal(2009)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [37]:
create_clean_csv(raw_df, 2010)
lengths_are_equal(2010)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [38]:
create_clean_csv(raw_df, 2011)
lengths_are_equal(2011)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [39]:
create_clean_csv(raw_df, 2012)
lengths_are_equal(2012)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [40]:
create_clean_csv(raw_df, 2013)
lengths_are_equal(2013)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [41]:
create_clean_csv(raw_df, 2014)
lengths_are_equal(2014)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [42]:
create_clean_csv(raw_df, 2015)
lengths_are_equal(2015)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

In [43]:
create_clean_csv(raw_df, 2016)
lengths_are_equal(2016)

First clean done.
Second clean done.
Third clean done.
Fourth cleaning done. Returning.

True

### Recombine the clean csvs into one clean dataframe and write it to a master csv file
Note: You will NOT be able to upload this to GitHub.

In [5]:
clean_df = pd.read_csv("data/clean_data_2001_listings.csv")
clean_df = clean_df.append(pd.read_csv("data/clean_data_2002_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2003_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2004_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2005_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2006_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2007_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2008_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2009_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2010_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2011_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2012_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2013_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2014_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2015_listings.csv"))
clean_df = clean_df.append(pd.read_csv("data/clean_data_2016_listings.csv"))

In [9]:
clean_df

,Unnamed: 0,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,683,684,10173,2001,04/17/2002 12:00:00 AM,Ansonia,1-3 EAGLE STREET,63630,116000.0,54.853448,Residential,Two Family,0,NaN
1,693,694,10005,2001,10/04/2001 12:00:00 AM,Ansonia,1 CRESTWOOD ROAD,76370,160000.0,47.731250,Residential,Single Family,0,NaN
2,696,697,10253,2001,06/18/2002 12:00:00 AM,Ansonia,1 DAVIES CT,97720,180000.0,54.288889,Residential,Single Family,0,NaN
3,697,698,10094,2001,01/17/2002 12:00:00 AM,Ansonia,1 DOREL TER,110600,259900.0,42.554829,Residential,Single Family,0,NaN
4,709,710,10100,2001,01/30/2002 12:00:00 AM,Ansonia,1 JAMES STREET,63210,132000.0,47.886364,Residential,Single Family,0,NaN
5,714,715,10268,2001,06/27/2002 12:00:00 AM,Ansonia,1 LESTER STREET,82530,74500.0,110.778523,Residential,Two Family,0,NaN
6,732,733,10012,2001,10/11/2001 12:00:00 AM,Ansonia,1 WESTBROOK AVE,74830,131000.0,57.122137,Residential,Two Family,0,NaN
7,737,738,10115,2001,02/22/2002 12:00:00 AM,Ansonia,10-12 CLIFTON AVE,60550,20000.0,302.750000,Residential,Single Family,25,NaN
8,738,739,10187,2001,04/29/2002 12:00:00 AM,Ansonia,10-12 HALL STREET,87710,168000.0,52.208333,Residential,Single Family,0,NaN
9,740,741,10337,2001,09/03/2002 12:00:00 AM,Ansonia,10-12 PARKER STREET,112630,186500.0,60.391421,Residential,Two Family,0,NaN
10,754,755,10252,2001,06/14/2002 12:00:00 AM,Ansonia,10 CASCIO STREET,85470,190000.0,44.984211,Residential,Single Family,0,NaN
11,764,765,10043,2001,11/19/2001 12:00:00 AM,Ansonia,10 GARDNERS LANE,66990,85000.0,78.811765,Residential,Two Family,0,NaN
12,783,784,10045,2001,11/19/2001 12:00:00 AM,Ansonia,10 MEAD CIR,74410,153500.0,48.475570,Residential,Single Family,0,NaN
13,792,793,10266,2001,06/28/2002 12:00:00 AM,Ansonia,10 NORTH STREET,80710,167500.0,48.185075,Residential,Single Family,0,NaN
14,794,795,10097,2001,01/23/2002 12:00:00 AM,Ansonia,10 PAGE STREET,79100,127500.0,62.039216,Residential,Single Family,0,NaN
15,806,807,10003,2001,10/02/2001 12:00:00 AM,Ansonia,10 WHITE OAK ROAD,80870,175000.0,46.211429,Residential,Single Family,0,NaN
16,808,809,10228,2001,05/29/2002 12:00:00 AM,Ansonia,100 HOWARD AVE,92330,137000.0,67.394161,Residential,Three Family,0,NaN
17,820,821,10348,2001,09/13/2002 12:00:00 AM,Ansonia,102 FORD STREET,102830,167000.0,61.574850,Residential,Single Family,0,NaN
18,826,827,10209,2001,05/13/2002 12:00:00 AM,Ansonia,102 ROOT AVE,72030,140000.0,51.450000,Residential,Single Family,0,NaN
19,827,828,10220,2001,05/22/2002 12:00:00 AM,Ansonia,102 S CLIFF STREET,130620,189900.0,68.783570,Residential,Single Family,0,NaN
20,831,832,10259,2001,06/20/2002 12:00:00 AM,Ansonia,103 PLATT STREET,66010,49900.0,132.284569,Residential,Single Family,14,NaN
21,845,846,10224,2001,05/24/2002 12:00:00 AM,Ansonia,105 7 NO STREETATE STREET,62090,70000.0,88.700000,Residential,Two Family,25,NaN
22,848,849,10083,2001,01/02/2002 12:00:00 AM,Ansonia,105 N PROSPECT STREET EXT,93590,175000.0,53.480000,Residential,Single Family,0,NaN
23,855,856,10355,2001,09/24/2002 12:00:00 AM,Ansonia,107 PRINDLE AVE,83650,180000.0,46.472222,Residential,Single Family,0,NaN
24,859,860,10036,2001,11/05/2001 12:00:00 AM,Ansonia,108 FORD STREET,77630,147000.0,52.809524,Residential,Single Family,0,NaN
25,872,873,10257,2001,06/20/2002 12:00:00 AM,Ansonia,109 FORD STREET,105420,248000.0,42.508065,Residential,Single Family,0,NaN
26,893,894,10205,2001,05/10/2002 12:00:00 AM,Ansonia,11 CAROLINE STREET,69860,137500.0,50.807273,Residential,Single Family,0,NaN
27,897,898,10308,2001,08/12/2002 12:00:00 AM,Ansonia,11 CONDON DRIVE,98980,245000.0,40.400000,Residential,Single Family,0,NaN
28,920,921,10251,2001,06/13/2002 12:00:00 AM,Ansonia,11 S WESTWOOD ROAD,100450,112000.0,89.687500,Residential,Single Family,1,NaN
29,927,928,10306,2001,08/08/2002 12:00:00 AM,Ansonia,11 WESLEY STREET,86030,173500.0,49.585014,Residential,Two Family,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49743,812878,812879,161213,2016,09/15/2017 12:00:00 AM,Woodbury,84 SPRAIN BROOK ROAD,28881,6420.0,4.498598,Vacant Land,NaN,01 - Family,PORTION OF LAND SOLD TO NEPHEW
49744,812880,812881,160092,2016,03/06/2017 12:00:00 AM,Woodbury,84 TUTTLE ROAD,328890,220635.0,1.490652,Residential,Single Family,01 - Family,NaN
49745,812881,812882,160107,2016,04/07/2017 12:00:00 AM,Woodbury,84 TUTTLE ROAD,328890,385000.0,0.854260,Residential,Single Family,NaN,NaN
49746,812888,812889,161181,2016,07/31/2017 12:00:00 AM,Woodbury,85 OWL RIDGE ROAD,579330,667000.0,0.868561,Residential,Single Family,NaN,NaN
49747,812921,812922,160131,2016,05/26/2017 12:00:00 AM,Woodbury,880 HARD HILL ROAD,285430,380000.0,0.751132,Residential,Single Family,NaN,NaN
49748,812925,812926,160148,2016,06/15/2017 12:00:00 AM,Woodbury,89 TRANSYLVANIA ROAD,292840,454000.0,0.645022,Residential,Two Family,NaN,INCLUDES 91
49749,812936,812937,160126,2016,05/19/2017 12:00:00 AM,Woodbury,9 HILLVIEW LANE,323920,320000.0,1.012250,Residential,Single Family,25 - Other,TRUSTEE SALE
49750,812971,812972,161206,2016,09/19/2017 12:00:00 AM,Woodbury,91000,108480,91000.0,1.192088,Residential,Single Family,25 - Other,CONSERVATORS DEED
49751,812974,812975,161171,2016,07/19/2017 12:00:00 AM,Woodbury,92 MILL ROAD,212980,270000.0,0.788815,Residential,Single Family,NaN,NaN
49752,812979,812980,160086,2016,03/01/2017 12:00:00 AM,Woodbury,922 MAIN STREET NORTH,139290,24750.0,5.627879,Residential,Single Family,08 - Part Interest,PARTIAL SALE
49753,812980,812981,160087,2016,03/01/2017 12:00:00 AM,Woodbury,922 MAIN STREET NORTH,139290,74250.0,1.875960,Residential,Single Family,08 - Part Interest,PARTIAL SALE
49754,812990,812991,160151,2016,06/19/2017 12:00:00 AM,Woodbury,955 WASHINGTON ROAD,326780,375000.0,0.871413,Residential,Single Family,NaN,NaN
49755,813004,813005,160022,2016,11/01/2016 12:00:00 AM,Woodbury,98 OLD TOWN FARM ROAD,185990,295000.0,0.630475,Residential,Single Family,NaN,NaN
49756,813006,813007,160158,2016,06/26/2017 12:00:00 AM,Woodbury,98 QUASSUK ROAD,315780,315000.0,1.002476,Residential,Single Family,25 - Other,NaN
49757,813020,813021,161200,2016,08/31/2017 12:00:00 AM,Woodbury,BRUSHY HILL ROAD,6050,100000.0,0.060500,Vacant Land,NaN,28 - Use Assessment,NaN
49758,813049,813050,161177,2016,07/27/2017 12:00:00 AM,Woodbury,GOOD HILL ROAD,468500,310500.0,1.508857,Residential,Single Family,01 - Family,UNIQUE: 19700 PARTIAL INTEREST SALE
49759,813050,813051,160058,2016,12/30/2016 12:00:00 AM,Woodbury,GOOD HILL ROAD (36-11),370,330000.0,0.001121,Vacant Land,NaN,28 - Use Assessment,SOLD WITH ACCT 261700
49760,813099,813100,160042,2016,12/01/2016 12:00:00 AM,Woodbury,MAIN STREET NORTH (10-38),8580,60000.0,0.143000,Vacant Land,NaN,06 - Portion of Property,PARTIAL SALE
49761,813141,813142,160078,2016,02/07/2017 12:00:00 AM,Woodbury,OLD MIDDLE ROAD TPKE,8400,73759.0,0.113884,Vacant Land,NaN,06 - Portion of Property,3.326 ACRES SOLD TO NEIGHBOR/FARM LAND VALUE
49762,813160,813161,160122,2016,05/10/2017 12:00:00 AM,Woodbury,PETER ROAD,76200,125000.0,0.609600,Vacant Land,NaN,NaN,LOT 1 HILLTOP EAST
49763,813173,813174,160032,2016,11/14/2016 12:00:00 AM,Woodbury,PLUMB BROOK ROAD,77840,145000.0,0.536828,Vacant Land,NaN,NaN,NaN
49764,813182,813183,161182,2016,08/01/2017 12:00:00 AM,Woodbury,QUASSAPAUG ROAD LOT 1,237,103300.0,0.002294,Vacant Land,NaN,06 - Portion of Property,NaN
49765,813188,813189,160064,2016,01/09/2017 12:00:00 AM,Woodbury,ROXBURY ROAD (60-016/1),19950,480000.0,0.041563,Vacant Land,NaN,17 - Two Towns,NaN
49766,813192,813193,160024,2016,11/02/2016 12:00:00 AM,Woodbury,SCUPPO ROAD,1221350,2850000.0,0.428544,Vacant Land,NaN,15 - Government Agency,STATE HELPED TOWN PURCHASE LAND FOR OPEN SPACE...
49767,813193,813194,160025,2016,11/02/2016 12:00:00 AM,Woodbury,SHERMAN HILL ROAD,464470,2850000.0,0.162972,Vacant Land,NaN,15 - Government Agency,STATE HELPED TOWN PURCHASE LAND FOR OPEN SPACE...
49768,813237,813238,160015,2016,10/25/2016 12:00:00 AM,Woodbury,UPPER GRASSY HILL ROAD(66-4),3500,115000.0,0.030435,Vacant Land,NaN,28 - Use Assessment,PURCHASED LAND IN OPEN SPACE FROM UNCLE
49769,813242,813243,160085,2016,02/17/2017 12:00:00 AM,Woodbury,WASHINGTON ROAD,1540,77000.0,0.020000,Vacant Land,NaN,14 - Foreclosure,SALE WITH ID: 143600
49770,813243,813244,160153,2016,06/20/2017 12:00:00 AM,Woodbury,WASHINGTON ROAD,68230,72500.0,0.941103,Vacant Land,NaN,NaN,UNIQUE ID: 174200
49771,813244,813245,160112,2016,04/24/2017 12:00:00 AM,Woodbury,WEEKEEPEEMEE ROAD,186430,150000.0,1.242867,Vacant Land,NaN,10 - A Will,ID 208400
49772,813262,813263,160047,2016,12/30/2016 12:00:00 AM,Woodbury,WHITE DEER ROCKS ROAD (8-12D),5090,50000.0,0.101800,Vacant Land,NaN,28 - Use Assessment,OPEN SPACE

In [ ]:
clean_df.tail()

In [ ]:
len(clean_df)

In [ ]:
sum_length = 0
for year in range(2001, 2017):
    years_df = pd.read_csv("data/clean_data_" + str(year) + "_listings.csv")
    sum_length += len(years_df)

print("The length of clean_df should equal the sum length of each individual year df.")
print("Length of clean_df = %d" %len(clean_df))
print("Sum length of dfs = %d" %sum_length)
print("Equal? " + str(len(clean_df) == sum_length))

In [ ]:
# Now write to a csv file
clean_df.to_csv("data/clean_data.csv", index=False)

### Additional checks on the data
#### Town names

In [ ]:
clean_df['Town'].unique()

In [ ]:
len(clean_df['Town'].unique()) # Should be 169 towns

### Additional checks on the data
#### Years

In [ ]:
clean_df['ListYear'].unique() # Should only be [2001, 2016]

### Additional checks on the data
#### PropertyType

In [ ]:
clean_df['PropertyType'].unique()

In [ ]:
len(clean_df[clean_df['PropertyType'] == 'Condo Family'])

In [ ]:
len(clean_df[clean_df['PropertyType'] == 'Condo'])

In [ ]:
# So we have this one problematic row. It probably is a Condo but I could just omit it.
clean_df[clean_df['PropertyType'] == 'C']

In [ ]:
len(clean_df[clean_df['PropertyType'] == 'Apartments'])

In [ ]:
len(clean_df[clean_df['PropertyType'] == 'Apartment'])

In [ ]:
clean_df[clean_df['PropertyType'] == 'Apartment']

In [ ]:
clean_df[clean_df['PropertyType'] == 'Apartments']

In [ ]:
apartments_sales_median = clean_df[clean_df['PropertyType'] == 'Apartments']['SaleAmount'].median()
apartment_sales_median = clean_df[clean_df['PropertyType'] == 'Apartment']['SaleAmount'].median()

In [ ]:
print("'Apartments': %d\n'Apartments': %d" %(apartments_sales_median, apartment_sales_median))

In [ ]:
clean_df[clean_df['PropertyType'] == '10 Mill Forest']
# Note: I believe these are purchases of forest land for the 10 Mill Law

### Additional checks on the data
#### NonUseCode

In [ ]:
clean_df['NonUseCode'].unique()

In [12]:
df_2001 = pd.read_csv("data/clean_data_2003_listings.csv")
small_df = df_2001[0:200]

In [13]:
small_df.head(100)

,Unnamed: 0,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,7,8,30047,2003,04/19/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,56600,80000.0,70.75,Vacant Land,NaN,0,NaN
1,15,16,30063,2003,07/15/2004 12:00:00 AM,Andover,101 GILEAD ROAD,104000,218000.0,47.70,Residential,Single Family,0,NaN
2,19,20,30055,2003,01/06/2004 12:00:00 AM,Andover,104 WEST STREET,52300,314867.0,16.61,Residential,Single Family,7,NaN
3,20,21,30037,2003,02/02/2004 12:00:00 AM,Andover,106 HENDEE ROAD,106100,220000.0,48.22,Residential,Single Family,0,NaN
4,25,26,30072,2003,08/16/2004 12:00:00 AM,Andover,11 DOGWOOD DRIVE,45600,449900.0,10.13,Residential,Single Family,7,NaN
5,30,31,30068,2003,07/29/2004 12:00:00 AM,Andover,11 WOOD FERN WAY,30200,100000.0,30.20,Vacant Land,NaN,0,NaN
6,37,38,30073,2003,08/23/2004 12:00:00 AM,Andover,113 LONG HL ROAD,85600,182500.0,46.90,Residential,Single Family,0,NaN
7,40,41,30054,2003,04/30/2004 12:00:00 AM,Andover,114 HENDEE ROAD,90400,189900.0,47.60,Residential,Single Family,0,NaN
8,46,47,30050,2003,04/01/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,80000.0,70.75,Vacant Land,NaN,0,NaN
9,47,48,30051,2003,03/31/2004 12:00:00 AM,Andover,12 CHESTER BRKS LANE,56600,125000.0,45.28,Vacant Land,NaN,26,NaN
10,53,54,30058,2003,07/06/2004 12:00:00 AM,Andover,12 WINDRUSH LANE,146500,315000.0,46.50,Residential,Single Family,0,NaN
11,58,59,30033,2003,01/22/2004 12:00:00 AM,Andover,121 LAKESIDE DRIVE,74600,169900.0,43.90,Residential,Single Family,0,NaN
12,59,60,30076,2003,08/30/2004 12:00:00 AM,Andover,121 WALES ROAD,97800,220000.0,44.45,Residential,Single Family,0,NaN
13,72,73,30049,2003,04/19/2004 12:00:00 AM,Andover,13 SHADBLOW LANE,28800,89900.0,32.03,Vacant Land,NaN,0,NaN
14,84,85,30039,2003,11/10/2003 12:00:00 AM,Andover,140 HEBRON ROAD,40100,35000.0,114.57,Vacant Land,NaN,25,NaN
15,98,99,30031,2003,01/14/2004 12:00:00 AM,Andover,15 GILEAD ROAD,72200,78000.0,92.56,Residential,Single Family,0,NaN
16,99,100,30056,2003,06/30/2004 12:00:00 AM,Andover,15 GILEAD ROAD,75900,169900.0,44.67,Residential,Single Family,25,NaN
17,102,103,30079,2003,09/01/2004 12:00:00 AM,Andover,15 WOOD FERN WAY,44500,105000.0,42.38,Vacant Land,NaN,0,NaN
18,109,110,30084,2003,09/09/2004 12:00:00 AM,Andover,154 LONG HL ROAD,62200,75000.0,82.93,Vacant Land,NaN,0,NaN
19,134,135,30086,2003,09/27/2004 12:00:00 AM,Andover,17 CHESTER BRKS LANE,44400,95000.0,46.73,Vacant Land,NaN,0,NaN
20,137,138,30074,2003,07/23/2004 12:00:00 AM,Andover,17 OLD FARMS ROAD,161900,339900.0,47.63,Residential,Single Family,0,NaN
21,157,158,30042,2003,03/04/2004 12:00:00 AM,Andover,181 LONG HL ROAD,105400,203000.0,51.92,Residential,Single Family,0,NaN
22,166,167,30041,2003,03/03/2004 12:00:00 AM,Andover,19 BEAR SWAMP ROAD,27800,302193.0,9.19,Residential,Single Family,7,NaN
23,202,203,30088,2003,09/15/2004 12:00:00 AM,Andover,22 CHESTER BRKS LANE,180700,391000.0,46.21,Residential,Single Family,7,NaN
24,208,209,30067,2003,07/29/2004 12:00:00 AM,Andover,22 WOOD FERN WAY,47700,100000.0,47.70,Vacant Land,NaN,0,NaN
25,219,220,30028,2003,01/02/2004 12:00:00 AM,Andover,23 CHESTER BRKS LANE,123100,466631.0,26.38,Residential,Single Family,7,NaN
26,223,224,30043,2003,03/02/2004 12:00:00 AM,Andover,23 PARKER BRG ROAD,85600,100000.0,85.60,Residential,Single Family,0,NaN
27,228,229,30087,2003,09/27/2004 12:00:00 AM,Andover,231 GILEAD ROAD,189400,495000.0,38.26,Residential,Single Family,0,NaN
28,237,238,30065,2003,08/03/2004 12:00:00 AM,Andover,25 ASPINALL DRIVE,66700,123500.0,54.00,Residential,Single Family,0,NaN
29,243,244,30038,2003,02/17/2004 12:00:00 AM,Andover,255 LAKE ROAD,64800,40000.0,162.00,Residential,Single Family,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,801,802,30100,2003,01/09/2004 12:00:00 AM,Ansonia,10 SEVENTH STREET,119900,217000.0,55.25,Residential,Three Family,0,NaN
71,814,815,30152,2003,03/24/2004 12:00:00 AM,Ansonia,101 COLONY STREET,62900,129000.0,48.75,Residential,Single Family,0,NaN
72,815,816,30203,2003,05/03/2004 12:00:00 AM,Ansonia,101 JACKSON STREET,80500,191000.0,42.14,Residential,Two Family,0,NaN
73,816,817,30383,2003,09/15/2004 12:00:00 AM,Ansonia,101 N STREETATE STREET,88900,258000.0,34.45,Residential,Two Family,0,NaN
74,824,825,30165,2003,03/31/2004 12:00:00 AM,Ansonia,102 JEWETT STREET,88300,179000.0,49.32,Residential,Two Family,0,NaN
75,840,841,30279,2003,07/08/2004 12:00:00 AM,Ansonia,104 PROSPECT STREET,133400,219900.0,60.66,Residential,Three Family,0,NaN
76,846,847,30105,2003,01/14/2004 12:00:00 AM,Ansonia,105 HIGH STREET,61900,165000.0,37.51,Residential,Two Family,0,NaN
77,850,851,30083,2003,12/30/2003 12:00:00 AM,Ansonia,106 HIGH STREET,86400,88000.0,98.18,Residential,Two Family,0,NaN
78,851,852,30319,2003,08/19/2004 12:00:00 AM,Ansonia,106 HIGH STREET,86400,243000.0,35.55,Residential,Two Family,0,NaN
79,856,857,30140,2003,02/27/2004 12:00:00 AM,Ansonia,107 S CLIFF STREET,20300,270000.0,7.51,Residential,Two Family,7,NaN
80,857,858,30380,2003,09/13/2004 12:00:00 AM,Ansonia,108 CLARKSON STREET,94000,269500.0,34.87,Residential,Single Family,0,NaN
81,860,861,30327,2003,08/26/2004 12:00:00 AM,Ansonia,108 FORD STREET,108200,229000.0,47.24,Residential,Single Family,0,NaN
82,866,867,30255,2003,06/15/2004 12:00:00 AM,Ansonia,108 ROCKWOOD AVE,97300,132000.0,73.71,Residential,Single Family,0,NaN
83,877,878,30259,2003,06/17/2004 12:00:00 AM,Ansonia,109 S CLIFF STREET,20300,95000.0,21.36,Residential,Single Family,7,NaN
84,896,897,30298,2003,07/29/2004 12:00:00 AM,Ansonia,11 COLUMBIA STREET,119800,253000.0,47.35,Residential,Three Family,0,NaN
85,922,923,30131,2003,02/09/2004 12:00:00 AM,Ansonia,11 UNDERHILL ROAD,87300,140000.0,62.35,Residential,Single Family,0,NaN
86,936,937,30192,2003,04/27/2004 12:00:00 AM,Ansonia,112 FRANKLIN STREET,92500,162500.0,56.92,Residential,Single Family,0,NaN
87,938,939,30061,2003,12/08/2003 12:00:00 AM,Ansonia,112 N CLIFF STREET,115400,220000.0,52.45,Residential,Single Family,0,NaN
88,955,956,30213,2003,05/06/2004 12:00:00 AM,Ansonia,115 JEWETT STREET,121900,243500.0,50.06,Residential,Two Family,0,NaN
89,987,988,30012,2003,10/14/2003 12:00:00 AM,Ansonia,119 PRINDLE AVE,120000,80000.0,150.00,Vacant Land,NaN,6,NaN
90,988,989,30191,2003,04/26/2004 12:00:00 AM,Ansonia,119 PRINDLE AVE,114800,216300.0,53.07,Residential,Single Family,0,NaN
91,989,990,30111,2003,01/16/2004 12:00:00 AM,Ansonia,119 PROSPECT STREET,22600,4000.0,565.00,Vacant Land,NaN,25,NaN
92,994,995,30266,2003,07/01/2004 12:00:00 AM,Ansonia,12 ADANTI AVE,92000,180000.0,51.11,Residential,Single Family,25,NaN
93,995,996,30267,2003,07/01/2004 12:00:00 AM,Ansonia,12 ADANTI AVE,92000,180000.0,51.11,Residential,Single Family,0,NaN
94,1001,1002,30328,2003,08/27/2004 12:00:00 AM,Ansonia,12 BENZ STREET,116400,245750.0,47.36,Residential,Single Family,0,NaN
95,1005,1006,30068,2003,11/26/2003 12:00:00 AM,Ansonia,12 CHURCH STREET,109700,238900.0,45.91,Residential,Single Family,0,NaN
96,1012,1013,30088,2003,12/23/2003 12:00:00 AM,Ansonia,12 DEMPSEY CT,180600,230000.0,78.52,Residential,Single Family,0,NaN
97,1016,1017,30164,2003,03/31/2004 12:00:00 AM,Ansonia,12 FARREL DRIVE,138700,260000.0,53.34,Residential,Single Family,0,NaN
98,1025,1026,30325,2003,08/25/2004 12:00:00 AM,Ansonia,12 HOINSKI WAY,179600,322900.0,55.62,Residential,Single Family,0,NaN
99,1029,1030,30065,2003,11/26/2003 12:00:00 AM,Ansonia,12 KIMBERELY LANE,135400,172900.0,78.31,Residential,Single Family,0,NaN

In [ ]:
small_df['NonUseCode'].describe()

In [12]:
def clean_nonusecode(df):
    """
    Some of the NonUseCodes are long strings with descriptors, which we don't need because the OPM data includes their
    descriptions in a separate pdf. Some are also NaN.
    This function turns all NonUseCodes into ints and sets the NaN ones to -1.
    """
    new_df = df.copy()
    new_df['NonUseCode'] = new_df['NonUseCode'].astype(str)
    
    for index in new_df.index:
        # NaN case
        current_code = new_df.loc[index, 'NonUseCode']
        if 'na' in current_code:
            new_df.loc[index, 'NonUseCode'] = -1
        #0-9 case
        elif len(current_code) < 2:
            new_df.loc[index, 'NonUseCode'] = "0" + current_code
        # XX... case, where we want to cut off additional text if there is any
        else:
            new_df.loc[index, 'NonUseCode'] = current_code[0:2]
    
    new_df['NonUseCode'] = new_df['NonUseCode'].astype(int)
    return new_df

In [13]:
clean_nonusecode(raw_df[0:100])

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,-1,NaN
1,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,-1,NaN
2,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,-1,NaN
3,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,-1,NaN
4,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14,PROPERTY WAS OWNED BY THE BANK
5,6,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA RD,91800,189900.0,48.341232,Residential,Single Family,0,NaN
6,7,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA RD,91800,189900.0,48.340000,Residential,Single Family,0,NaN
7,8,30047,2003,04/19/2004 12:00:00 AM,Andover,10 CHESTER BRKS LN,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
8,9,40003,2004,10/18/2004 12:00:00 AM,Andover,10 CHESTER BRKS LN,194100,446639.0,43.457916,Residential,Single Family,7,NaN
9,10,70005,2007,11/19/2007 12:00:00 AM,Andover,10 CHESTER BROOKS LN,313400,425000.0,0.737412,Residential,Single Family,-1,NaN
10,11,40042,2004,05/23/2005 12:00:00 AM,Andover,10 DOGWOOD DR,218700,440000.0,49.704545,Residential,Single Family,7,NaN
11,12,13021,2013,06/16/2014 12:00:00 AM,Andover,10 HICKORY HILL DR,109400,165000.0,0.663000,Residential,Single Family,-1,NaN
12,13,40035,2004,04/01/2005 12:00:00 AM,Andover,10 HICKORY HL DR,77900,184000.0,42.336957,Residential,Single Family,0,NaN
13,14,14044,2014,09/28/2015 12:00:00 AM,Andover,10 PINE RIDGE DR,108700,128368.0,0.846784,Residential,Single Family,-1,NaN
14,15,50027,2005,03/16/2006 12:00:00 AM,Andover,10 SHODDY ML RD,84900,215000.0,39.488372,Residential,Single Family,1,NaN
15,16,30063,2003,07/15/2004 12:00:00 AM,Andover,101 GILEAD RD,104000,218000.0,47.700000,Residential,Single Family,0,NaN
16,17,14035,2014,08/10/2015 12:00:00 AM,Andover,101 WALES RD,164000,230000.0,0.713043,Residential,Single Family,-1,NaN
17,18,900008,2009,12/14/2009 12:00:00 AM,Andover,101 WALES ROAD,186400,248500.0,0.750101,Residential,Single Family,-1,NaN
18,19,40650,2004,08/18/2005 12:00:00 AM,Andover,102 GILEAD RD,111100,279900.0,39.692747,Residential,Single Family,0,NaN
19,20,30055,2003,01/06/2004 12:00:00 AM,Andover,104 WEST ST,52300,314867.0,16.610000,Residential,Single Family,7,NaN
20,21,30037,2003,02/02/2004 12:00:00 AM,Andover,106 HENDEE RD,106100,220000.0,48.220000,Residential,Single Family,0,NaN
21,22,15051,2015,09/28/2016 12:00:00 AM,Andover,107 LAKESIDE DR,188400,226000.0,0.833628,Residential,Single Family,-1,NaN
22,23,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DR,96700,146000.0,66.232877,Residential,Single Family,0,NaN
23,24,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DR,96700,146000.0,66.230000,Residential,Single Family,0,NaN
24,25,13010,2013,03/17/2014 12:00:00 AM,Andover,11 CENTER STREET,130200,164000.0,0.794000,Residential,Single Family,-1,NaN
25,26,30072,2003,08/16/2004 12:00:00 AM,Andover,11 DOGWOOD DR,45600,449900.0,10.130000,Residential,Single Family,7,NaN
26,27,100027,2010,07/11/2011 12:00:00 AM,Andover,11 DOGWOOD DRIVE,348600,450000.0,0.774667,Residential,Single Family,-1,NaN
27,28,40001,2004,10/12/2004 12:00:00 AM,Andover,11 SHADBLOW LN,132800,381900.0,34.773501,Residential,Single Family,7,NaN
28,29,14002,2014,10/28/2014 12:00:00 AM,Andover,11 WEST ST,89400,48000.0,1.862500,Residential,Single Family,-1,NaN
29,30,50050,2005,08/07/2006 12:00:00 AM,Andover,11 WHEELING RD,116500,215000.0,54.186047,Residential,Single Family,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,40008,2004,10/22/2004 12:00:00 AM,Andover,13 DOGWOOD DR,52700,104000.0,50.673077,Vacant Land,NaN,0,NaN
71,72,40034,2004,04/01/2005 12:00:00 AM,Andover,13 MATHIESON DR,68300,143000.0,47.762238,Residential,Single Family,0,NaN
72,73,30049,2003,04/19/2004 12:00:00 AM,Andover,13 SHADBLOW LN,28800,89900.0,32.030000,Vacant Land,NaN,0,NaN
73,74,13027,2013,07/28/2014 12:00:00 AM,Andover,131 BOSTON HILL RD,153100,239900.0,0.638000,Residential,Single Family,-1,NaN
74,75,900038,2009,08/18/2010 12:00:00 AM,Andover,132 BUNKER HILL ROAD,325300,300000.0,1.084333,Residential,Single Family,25,NaN
75,76,20079,2002,09/17/2003 12:00:00 AM,Andover,133 WALES RD,88200,182500.0,48.320000,Residential,Single Family,0,NaN
76,77,14030,2014,07/01/2015 12:00:00 AM,Andover,135 BEAR SWAMP RD,49000,75000.0,0.653333,Vacant Land,NaN,-1,NaN
77,78,15024,2015,04/04/2016 12:00:00 AM,Andover,135 BEAR SWAMP RD,296560,550000.0,0.539200,Residential,Single Family,1,PROPERTY WAS SOLD FROM MOTHER TO SON
78,79,40633,2004,06/30/2005 12:00:00 AM,Andover,14 DOGWOOD DRIVE,28300,105000.0,26.952381,Vacant Land,NaN,7,NaN
79,80,50041,2005,06/30/2006 12:00:00 AM,Andover,14 HEBRON RD,78800,298000.0,26.442953,Residential,Single Family,7,NaN
80,81,120032,2012,05/28/2013 12:00:00 AM,Andover,14 HEBRON ROAD,168200,234900.0,0.716049,Residential,Single Family,-1,0
81,82,100002,2010,10/13/2010 12:00:00 AM,Andover,14 TIMES FARM ROAD,272700,280500.0,0.972193,Residential,Single Family,-1,NaN
82,83,40002,2004,10/14/2004 12:00:00 AM,Andover,14 WOOD FERN WAY,52000,105000.0,49.523810,Vacant Land,NaN,0,NaN
83,84,14023,2014,06/03/2015 12:00:00 AM,Andover,14 WOOD FERN WAY,244000,366000.0,0.666667,Residential,Single Family,-1,NaN
84,85,30039,2003,11/10/2003 12:00:00 AM,Andover,140 HEBRON RD,40100,35000.0,114.570000,Vacant Land,NaN,25,NaN
85,86,50060,2005,09/21/2006 12:00:00 AM,Andover,141 BOSTON HL RD,133500,247000.0,54.040000,Residential,Single Family,7,NaN
86,87,40631,2004,06/20/2005 12:00:00 AM,Andover,141 LAKE RD,107100,248000.0,43.185484,Residential,Single Family,0,NaN
87,88,800032,2008,08/03/2009 12:00:00 AM,Andover,141 LAKE ROAD,162900,265000.0,0.614717,Residential,Single Family,-1,NaN
88,89,70037,2007,07/29/2008 12:00:00 AM,Andover,146 LAKESIDE DR,178400,239000.0,0.746444,Residential,Single Family,-1,NaN
89,90,50001,2005,10/17/2005 12:00:00 AM,Andover,146 LONG HL RD,60400,75000.0,80.533333,Vacant Land,NaN,1,NaN
90,91,50002,2005,10/17/2005 12:00:00 AM,Andover,146 LONG HL RD,60400,350000.0,17.257143,Residential,Single Family,1,NaN
91,92,70009,2007,12/31/2007 12:00:00 AM,Andover,147 WHEELING RD,167200,177100.0,0.944099,Residential,Single Family,18,NaN
92,93,900022,2009,05/10/2010 12:00:00 AM,Andover,147 WHEELING ROAD,167200,242000.0,0.690909,Residential,Single Family,14,NaN
93,94,70002,2007,10/22/2007 12:00:00 AM,Andover,149 HEBRON AVE,138400,217500.0,0.636322,Residential,Single Family,-1,NaN
94,95,900014,2009,02/22/2010 12:00:00 AM,Andover,149 HEBRON ROAD,138400,211250.0,0.655148,Residential,Single Family,-1,NaN
95,96,13003,2013,11/13/2013 12:00:00 AM,Andover,149 HEBRON ROAD,129200,185000.0,0.698000,Residential,Single Family,-1,NaN
96,97,70027,2007,08/07/2008 12:00:00 AM,Andover,15 DOGWOOD AVENUE,260200,250000.0,1.040800,Residential,Single Family,25,NaN
97,98,40645,2004,07/25/2005 12:00:00 AM,Andover,15 DOGWOOD DR,51100,105000.0,48.666667,Vacant Land,NaN,0,NaN
98,99,30031,2003,01/14/2004 12:00:00 AM,Andover,15 GILEAD RD,72200,78000.0,92.560000,Residential,Single Family,0,NaN
99,100,30056,2003,06/30/2004 12:00:00 AM,Andover,15 GILEAD RD,75900,169900.0,44.670000,Residential,Single Family,25,NaN

In [36]:
clean_nonusecode(raw_df[100:200])

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
100,101,100025,2010,08/15/2011 12:00:00 AM,Andover,15 GILEAD ROAD,120900,175000.0,0.690857,Residential,Single Family,-1,NaN
101,102,50033,2005,05/01/2006 12:00:00 AM,Andover,15 SHODDY ML RD,84100,223000.0,37.700000,Residential,Single Family,0,NaN
102,103,30079,2003,09/01/2004 12:00:00 AM,Andover,15 WOOD FERN WAY,44500,105000.0,42.380000,Vacant Land,NaN,0,NaN
103,104,40020,2004,02/08/2005 12:00:00 AM,Andover,15 WOOD FERN WAY,54100,435100.0,12.433923,Residential,Single Family,7,NaN
104,105,15038,2015,06/14/2016 12:00:00 AM,Andover,150 LAKE RD,135100,97000.0,1.392784,Residential,Single Family,-1,NaN
105,106,900031,2009,07/07/2010 12:00:00 AM,Andover,150 LONG HILL ROAD,125700,165000.0,0.761818,Residential,Single Family,-1,NaN
106,107,900002,2009,10/13/2009 12:00:00 AM,Andover,151 LAKESIDE DR,175700,221000.0,0.795023,Residential,Single Family,-1,NaN
107,108,13028,2013,08/04/2014 12:00:00 AM,Andover,152 HENDEE RD,221000,325000.0,0.680000,Residential,Single Family,-1,NaN
108,109,13034,2013,09/04/2014 12:00:00 AM,Andover,154 LONG HILL RD,51800,58647.0,0.883000,Vacant Land,NaN,-1,NaN
109,110,30084,2003,09/09/2004 12:00:00 AM,Andover,154 LONG HL RD,62200,75000.0,82.930000,Vacant Land,NaN,0,NaN
110,111,13025,2013,07/14/2014 12:00:00 AM,Andover,154 WALES RD,103900,74500.0,1.395000,Residential,Single Family,14,SALE OF A FORECLOSED PROPERTY
111,112,14037,2014,08/13/2015 12:00:00 AM,Andover,155 HEBRON RD,179100,273000.0,0.656044,Residential,Single Family,-1,NaN
112,113,20047,2002,06/16/2003 12:00:00 AM,Andover,157 WALES RD,75100,116000.0,64.741379,Residential,Single Family,0,NaN
113,114,20047,2002,06/16/2003 12:00:00 AM,Andover,157 WALES RD,75100,116000.0,64.740000,Residential,Single Family,0,NaN
114,115,20083,2002,09/29/2003 12:00:00 AM,Andover,157 WALES RD,75100,150000.0,50.060000,Residential,Single Family,0,NaN
115,116,20077,2002,09/16/2003 12:00:00 AM,Andover,16 BAUSOLA RD,45200,81000.0,55.800000,Residential,Single Family,6,NaN
116,117,20001,2002,10/21/2002 12:00:00 AM,Andover,16 CHESTER BROOKS LN,203300,340912.0,59.634158,Residential,Single Family,0,NaN
117,118,20001,2002,10/21/2002 12:00:00 AM,Andover,16 CHESTER BROOKS LN,203300,340912.0,59.630000,Residential,Single Family,0,NaN
118,119,13014,2013,04/17/2014 12:00:00 AM,Andover,16 ROCKLEDGE DR,137000,198000.0,0.692000,Residential,Single Family,-1,NaN
119,120,40638,2004,07/05/2005 12:00:00 AM,Andover,16 SHADBLOW LN,52300,104000.0,50.288462,Vacant Land,NaN,0,NaN
120,121,80016,2008,03/26/2009 12:00:00 AM,Andover,16 WALES ROAD,192400,257000.0,0.748638,Residential,Single Family,-1,NaN
121,122,15026,2015,04/19/2016 12:00:00 AM,Andover,16 WEBSTER LANE,122500,147000.0,0.833333,Residential,Single Family,-1,NaN
122,123,40006,2004,10/20/2004 12:00:00 AM,Andover,16 WOOD FERN WAY,52500,105000.0,50.000000,Vacant Land,NaN,0,NaN
123,124,50021,2005,02/27/2006 12:00:00 AM,Andover,16 WOOD FERN WAY LT 29,52500,379900.0,13.819426,Residential,Single Family,7,NaN
124,125,80019,2008,03/24/2009 12:00:00 AM,Andover,160 HENDEE ROAD,224500,320000.0,0.701562,Residential,Single Family,-1,NaN
125,126,120014,2012,01/03/2013 12:00:00 AM,Andover,160 WHEELING ROAD,55300,79000.0,0.700000,NaN,NaN,-1,NaN
126,127,13036,2013,09/25/2014 12:00:00 AM,Andover,161 BUNKER HILL,233520,625000.0,0.374000,Residential,Two Family,25,PROPERTY WAS IN 490
127,128,70010,2007,12/17/2007 12:00:00 AM,Andover,163 LAKE RD,126500,148000.0,0.854730,Residential,Single Family,-1,NaN
128,129,120041,2012,09/04/2013 12:00:00 AM,Andover,163 LAKE ROAD,106200,39000.0,2.723077,Residential,Single Family,14,0
129,130,15029,2015,05/02/2016 12:00:00 AM,Andover,164 BEAR SWAMP RD,368300,545000.0,0.675780,Residential,Single Family,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,171,14038,2014,08/13/2015 12:00:00 AM,Andover,19 RIDGE ROAD,178900,245000.0,0.730204,Residential,Single Family,-1,NaN
171,172,50038,2005,06/07/2006 12:00:00 AM,Andover,191 HEBRON RD,141800,339900.0,41.700000,Residential,Single Family,0,NaN
172,173,70006,2007,10/01/2007 12:00:00 AM,Andover,191 LONG HILL RD,181700,267000.0,0.680524,Residential,Single Family,-1,NaN
173,174,50048,2005,07/27/2006 12:00:00 AM,Andover,195 LAKE RD,84800,163000.0,52.000000,Residential,Single Family,0,NaN
174,175,50039,2005,06/12/2006 12:00:00 AM,Andover,197 HEBRON RD,111100,235000.0,47.300000,Residential,Single Family,0,NaN
175,176,120035,2012,07/01/2013 12:00:00 AM,Andover,197 HEBRON ROAD,160000,255000.0,0.627451,Residential,Single Family,-1,0
176,177,70026,2007,08/04/2008 12:00:00 AM,Andover,2 MERRITT VALLEY ROAD,131500,221000.0,0.595023,Residential,Single Family,-1,NaN
177,178,14012,2014,02/11/2015 12:00:00 AM,Andover,2 SHADBLOW LANE,290700,394550.0,0.736789,Residential,Single Family,-1,NaN
178,179,50052,2005,08/10/2006 12:00:00 AM,Andover,20 GILEAD RD,33600,320000.0,10.500000,Residential,Single Family,7,NaN
179,180,12009,2012,12/11/2012 12:00:00 AM,Andover,20 OAK FARMS ROAD,248700,287000.0,0.866551,Residential,Single Family,-1,NaN
180,181,40007,2004,10/29/2004 12:00:00 AM,Andover,200 BEAR SWAMP RD,209900,376500.0,55.750332,Residential,Single Family,0,NaN
181,182,50020,2005,02/21/2006 12:00:00 AM,Andover,200 HEBRON RD,188800,375000.0,50.346667,Residential,Single Family,6,NaN
182,183,120021,2012,03/28/2013 12:00:00 AM,Andover,205 LONG HILL ROAD,190000,260000.0,0.730769,Residential,Single Family,-1,0
183,184,50005,2005,11/07/2005 12:00:00 AM,Andover,206 HENDEE RD &,107900,107500.0,100.372093,Residential,Single Family,1,NaN
184,185,50014,2005,01/03/2006 12:00:00 AM,Andover,206 ROUTE 6,83500,215000.0,38.800000,Residential,Single Family,0,NaN
185,186,900042,2009,09/09/2010 12:00:00 AM,Andover,209 BUNKER HILL ROAD,238600,194819.0,1.224727,Residential,Single Family,14,NaN
186,187,100010,2010,02/14/2011 12:00:00 AM,Andover,209 BUNKER HILL ROAD,238600,129900.0,1.836798,Residential,Single Family,14,NaN
187,188,50032,2005,04/28/2006 12:00:00 AM,Andover,209 HEBRON RD,130400,408000.0,31.960784,Residential,Single Family,7,NaN
188,189,20007,2002,11/18/2002 12:00:00 AM,Andover,21 CHESTER BROOKS LN,121700,340850.0,35.704856,Residential,Single Family,7,NaN
189,190,20007,2002,11/18/2002 12:00:00 AM,Andover,21 CHESTER BROOKS LN,121700,340850.0,35.700000,Residential,Single Family,7,NaN
190,191,13008,2013,01/06/2014 12:00:00 AM,Andover,21 WEBSTER LA,8500,32500.0,0.262000,Vacant Land,NaN,17,THIS IS A TWO TOWN PROPERTY LOCATED IN ANDOVER...
191,192,40015,2004,12/16/2004 12:00:00 AM,Andover,21 WOOD FERN WAY,69600,105000.0,66.285714,Vacant Land,NaN,0,NaN
192,193,59045,2005,07/07/2006 12:00:00 AM,Andover,214 BEAR SWAMP RD &,182500,460000.0,39.673913,Residential,Single Family,24,NaN
193,194,800026,2008,06/23/2009 12:00:00 AM,Andover,215 HEBRON ROAD,212000,270000.0,0.785185,Residential,Single Family,-1,NaN
194,195,40022,2004,02/23/2005 12:00:00 AM,Andover,215 LONG HL RD,35900,80000.0,44.875000,Vacant Land,NaN,0,NaN
195,196,120040,2012,08/29/2013 12:00:00 AM,Andover,215 ROUTE 6,117300,75000.0,1.564000,Residential,Single Family,14,0
196,197,20013,2002,01/09/2003 12:00:00 AM,Andover,216 BOSTON HL RD,30730,294000.0,10.452381,Residential,Single Family,7,NaN
197,198,40641,2004,07/15/2005 12:00:00 AM,Andover,216 BOSTON HL RD,154030,314000.0,49.054140,Residential,Single Family,0,NaN
198,199,20013,2002,01/09/2003 12:00:00 AM,Andover,216 BOSTON HL RD,30730,294000.0,10.450000,Residential,Single Family,7,NaN
199,200,20040,2002,05/19/2003 12:00:00 AM,Andover,219 RT 6,84500,164900.0,51.243178,Residential,Single Family,0,NaN

### Additional checks on the data
These informed the cleaning that has been done above.
#### AssessedValue, SaleAmount, SalesRatio

In [41]:
clean_df['AssessedValue'].describe()

count    8.159050e+05
mean     2.629412e+05
std      1.327561e+06
min      0.000000e+00
25%      8.113000e+04
50%      1.306000e+05
75%      2.147600e+05
max      1.389588e+08
Name: AssessedValue, dtype: float64

In [124]:
clean_df['AssessedValue'].head()

NameError: name 'clean_df' is not defined

In [125]:
clean_df['SaleAmount'].head()

NameError: name 'clean_df' is not defined

In [47]:
clean_df['SaleAmount'].describe()

count    8.159050e+05
mean     3.679508e+05
std      2.068168e+06
min      0.000000e+00
25%      1.349000e+05
50%      2.160000e+05
75%      3.500000e+05
max      9.409400e+08
Name: SaleAmount, dtype: float64

In [50]:
clean_df['SalesRatio']

0         54.853448
1         47.731250
2         54.288889
3         42.554829
4         47.886364
5        110.778523
6         57.122137
7        302.750000
8         52.208333
9         60.391421
10        44.984211
11        78.811765
12        48.475570
13        48.185075
14        62.039216
15        46.211429
16        67.394161
17        61.574850
18        51.450000
19        68.783570
20       132.284569
21        88.700000
22        53.480000
23        46.472222
24        52.809524
25        42.508065
26        50.807273
27        40.400000
28        89.687500
29        49.585014
            ...
49743      4.498598
49744      1.490652
49745      0.854260
49746      0.868561
49747      0.751132
49748      0.645022
49749      1.012250
49750      1.192088
49751      0.788815
49752      5.627879
49753      1.875960
49754      0.871413
49755      0.630475
49756      1.002476
49757      0.060500
49758      1.508857
49759      0.001121
49760      0.143000
49761      0.113884
49762      0.609600
49763      0.536828
49764      0.002294
49765      0.041563
49766      0.428544
49767      0.162972
49768      0.030435
49769      0.020000
49770      0.941103
49771      1.242867
49772      0.101800
Name: SalesRatio, Length: 815905, dtype: float64

In [51]:
clean_df['SalesRatio'].describe()

count    8.150720e+05
mean     7.976728e+02
std      1.407832e+05
min      0.000000e+00
25%      7.000000e-01
50%      1.459335e+00
75%      4.710000e+01
max      6.119000e+07
Name: SalesRatio, dtype: float64

In [53]:
# Some of these sales ratios are high. Let's make sure the assessed price and sale price are appropriately different.
clean_df[clean_df['SalesRatio'] > 5][['Address', 'AssessedValue', 'SaleAmount', 'SalesRatio', 'PropertyType']]

,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType
0,1-3 EAGLE STREET,63630,116000.0,54.853448,Residential
1,1 CRESTWOOD ROAD,76370,160000.0,47.731250,Residential
2,1 DAVIES CT,97720,180000.0,54.288889,Residential
3,1 DOREL TER,110600,259900.0,42.554829,Residential
4,1 JAMES STREET,63210,132000.0,47.886364,Residential
5,1 LESTER STREET,82530,74500.0,110.778523,Residential
6,1 WESTBROOK AVE,74830,131000.0,57.122137,Residential
7,10-12 CLIFTON AVE,60550,20000.0,302.750000,Residential
8,10-12 HALL STREET,87710,168000.0,52.208333,Residential
9,10-12 PARKER STREET,112630,186500.0,60.391421,Residential
10,10 CASCIO STREET,85470,190000.0,44.984211,Residential
11,10 GARDNERS LANE,66990,85000.0,78.811765,Residential
12,10 MEAD CIR,74410,153500.0,48.475570,Residential
13,10 NORTH STREET,80710,167500.0,48.185075,Residential
14,10 PAGE STREET,79100,127500.0,62.039216,Residential
15,10 WHITE OAK ROAD,80870,175000.0,46.211429,Residential
16,100 HOWARD AVE,92330,137000.0,67.394161,Residential
17,102 FORD STREET,102830,167000.0,61.574850,Residential
18,102 ROOT AVE,72030,140000.0,51.450000,Residential
19,102 S CLIFF STREET,130620,189900.0,68.783570,Residential
20,103 PLATT STREET,66010,49900.0,132.284569,Residential
21,105 7 NO STREETATE STREET,62090,70000.0,88.700000,Residential
22,105 N PROSPECT STREET EXT,93590,175000.0,53.480000,Residential
23,107 PRINDLE AVE,83650,180000.0,46.472222,Residential
24,108 FORD STREET,77630,147000.0,52.809524,Residential
25,109 FORD STREET,105420,248000.0,42.508065,Residential
26,11 CAROLINE STREET,69860,137500.0,50.807273,Residential
27,11 CONDON DRIVE,98980,245000.0,40.400000,Residential
28,11 S WESTWOOD ROAD,100450,112000.0,89.687500,Residential
29,11 WESLEY STREET,86030,173500.0,49.585014,Residential
...,...,...,...,...,...
45909,41 JONES HILL ROAD #307,2450420,115000.0,21.308000,Residential
45911,410 CAMPBELL AVE,486640,70000.0,6.952000,Commercial
45928,44 SORENSON ROAD,136850,3100.0,44.145160,Residential
46073,690 JONES HILL ROAD #8,23240,2000.0,11.620000,Residential
46407,OLD FARM ROAD,117600,10000.0,11.760000,Vacant Land
46591,20 WOODY LANE,2251200,50000.0,45.024000,Residential
46765,40 FERRY LANE E,288100,24188.0,11.910860,Residential
46773,42 REICHERT CIRCLE,429100,59445.0,7.218437,Residential
47058,165 OX YOKE DRIVE,191700,9000.0,21.300000,Residential
47213,330 JORDAN LANE,91200,10833.0,8.418721,Residential
47414,82 GOODWIN PARK ROAD,127700,15650.0,8.159744,Residential
47561,135 HIGHFIELD ROAD,468090,91910.0,5.092917,Residential
47595,165 DRUM HILL ROAD,596750,4000.0,149.187500,Residential
47795,728 RIDGEFIELD ROAD,1472450,60000.0,24.540830,Vacant Land
47855,103 E MOUNTAIN AVE,93450,15000.0,6.230000,Residential
48073,109 GORDON AVE,72230,10000.0,7.223000,Residential
48206,27 LONG DRIVE,14920,2100.0,7.104762,Residential
49024,400 SOUTH MAIN STREET,69300,10000.0,6.930000,Industrial
49238,24 PRATTE LANE,286000,12500.0,22.880000,Vacant Land
49293,41 WILSON ROAD,1600182,195000.0,8.206062,Residential
49401,MAP 111 BLOCK 3LLOT 27T &,16350,2534.0,6.452249,Vacant Land
49403,MAP 123 BLOCK 6 LOT 9A CENTRAL,389100,5000.0,77.820000,Vacant Land
49427,1659 LITCHFIELD TPK,271460,17000.0,15.968240,Vacant Land
49428,1670 LITCHFIELD TPK,136500,8000.0,17.062500,Residential
49441,19 RIMMON HILL ROAD,235690,25000.0,9.427600,Residential
49448,20 BLUE TRAIL DRIVE,280280,2654.0,105.606600,Vacant Land
49574,113 RAIL TREE HILL ROAD,307570,50000.0,6.151400,Residential
49700,511 WEEKEEPEEMEE ROAD,392810,10000.0,39.281000,Residential
49724,66 MAIN STREET NORTH,288840,35000.0,8.252571,Residential
49752,922 MAIN STREET NORTH,139290,24750.0,5.627879,Residential

In [55]:
# This makes sense. Homes with a high sales ratio should be on the lower end in terms of salesprice, which
# would also decrease the taxed value of the home?

### Additional checks on the data
#### Remarks

In [63]:
clean_df['Remarks'].head(20)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: Remarks, dtype: object

In [65]:
clean_df['Remarks'].tail(20)

49753                                         PARTIAL SALE
49754                                                  NaN
49755                                                  NaN
49756                                                  NaN
49757                                                  NaN
49758                 UNIQUE: 19700  PARTIAL INTEREST SALE
49759                                SOLD WITH ACCT 261700
49760                                         PARTIAL SALE
49761         3.326 ACRES SOLD TO NEIGHBOR/FARM LAND VALUE
49762                                   LOT 1 HILLTOP EAST
49763                                                  NaN
49764                                                  NaN
49765                                                  NaN
49766    STATE HELPED TOWN PURCHASE LAND FOR OPEN SPACE...
49767    STATE HELPED TOWN PURCHASE LAND FOR OPEN SPACE...
49768              PURCHASED LAND IN OPEN SPACE FROM UNCLE
49769                                 SALE WITH ID: 143600
49770                                    UNIQUE ID: 174200
49771                                            ID 208400
49772                                           OPEN SPACE
Name: Remarks, dtype: object

In [66]:
# Looks like more remarks were recorded towards the end of the data (later years).

In [11]:
MIN_YEAR = 2001
MAX_YEAR = 2016

In [128]:
def get_dataframe(MIN_YEAR, MAX_YEAR):
    """
    Pass in a range of years. Will combine all of the CSVs corresponding to that time range into one main datafame.
    This dataframe will be cleaned in various ways:
        1. Remove leading and trailing whitespace
        2. Replace double-spaces with single-spaces in the Address field
        3. Replace abbreviations like "LN" and "RD" in the Address field with their full names ("LANE", "ROAD", etc.)
        4. Fix NonUseCodes so that they are only two-digit or less integers.
        5. Remove duplicate rows.
    """
    # Combine the year-by-year clean csvs, which are located at 'data/clean_data_20xx_listings.csv'
    df = pd.read_csv('data/clean_data_' + str(MIN_YEAR) + '_listings.csv')
    for year in range(MIN_YEAR+1, MAX_YEAR+1):
        df = df.append(pd.read_csv('data/clean_data_' + str(year) + '_listings.csv'))

    # Now remove the index column
    #df = df.drop('Unnamed: 0', 1)
    return df

In [129]:
df = get_dataframe(MIN_YEAR, MAX_YEAR)

### Additional checks on the data
#### Looking for duplicate transactions

In [16]:
# Are all the SerialNumbers unique?
len(df['SerialNumber'].unique())

56011

In [18]:
len(df['SerialNumber'])

815905

In [19]:
# How many duplicates are there?
len(df['SerialNumber']) - len(df['SerialNumber'].unique())

759894

In [24]:
import random

In [41]:
def get_random_serial_number(df):
    """
    Returns a serial number from df at random.
    """
    random_index = random.randint(0, len(df))
    random_index
    random_serial = df.iloc[random_index]['SerialNumber']
    return random_serial

In [150]:
def show_all_rows_with_random_serial_number(df):
    """
    Returns a subset of df based on a random serial number.
    """
    random_serial = get_random_serial_number(df)
    subset = df[df['SerialNumber'] == random_serial]
    #print("SERIAL #: %d\t\tSIZE: %d" %(random_serial, len(subset)))
    return subset

In [57]:
show_all_rows_with_random_serial_number(df)

SERIAL #: 16074		SIZE: 23

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
5812,89157,16074,2016,03/07/2017 12:00:00 AM,Burlington,3 WILDES WAY,295330,402500.0,0.733739,Residential,Single Family,-1,NaN
9250,141082,16074,2016,12/12/2016 12:00:00 AM,Darien,58 MANSFIELD AVE,1358490,2295000.0,0.591935,Residential,Single Family,-1,NaN
9329,142142,16074,2016,09/11/2017 12:00:00 AM,Deep River,100 LORDS LA,160720,260000.0,0.618154,Residential,Single Family,-1,NaN
9477,144045,16074,2016,02/13/2017 12:00:00 AM,Derby,2 SHERWOOD AVE,131600,189900.0,0.692996,Residential,Single Family,-1,NaN
9648,146357,16074,2016,05/31/2017 12:00:00 AM,Durham,192 PISGAH ROAD,182980,389900.0,0.469300,Residential,Single Family,7,New construction. Changed percent completed
10522,158039,16074,2016,10/31/2016 12:00:00 AM,East Hartford,16 SKYLINE DRIVE.,139810,217000.0,0.644286,Residential,Single Family,-1,NaN
13362,214350,16074,2016,11/17/2016 12:00:00 AM,Farmington,2 LINCOLN STREET,135520,195000.0,0.694974,Residential,Single Family,-1,NaN
16301,264224,16074,2016,03/13/2017 12:00:00 AM,Haddam,885 SAYBROOK ROAD,204870,310000.0,0.660871,Residential,Single Family,-1,NaN
18238,307671,16074,2016,04/13/2017 12:00:00 AM,Lebanon,644 BEAUMONT HWY,107530,30000.0,3.584333,Residential,Single Family,25,HOUSE TO BE DEMOLISHED
19456,335772,16074,2016,01/09/2017 12:00:00 AM,Mansfield,6 WESTWOOD ROAD,199500,288000.0,0.692708,Residential,Single Family,-1,NaN
19559,337080,16074,2016,06/07/2017 12:00:00 AM,Marlborough,150 FLOOD ROAD,215530,176300.0,1.222518,Residential,Single Family,14,FORECLOSURE SALE
21653,383631,16074,2016,12/28/2016 12:00:00 AM,Monroe,9 PLUMER LANE,242000,410000.0,0.590244,Residential,Single Family,-1,NaN
24050,418893,16074,2016,05/04/2017 12:00:00 AM,New Hartford,445 STREETEELE ROAD,215410,235000.0,0.916638,Residential,Single Family,14,NaN
25517,457710,16074,2016,11/30/2016 12:00:00 AM,Newington,690 CYPRESS ROAD,99080,125800.0,0.787599,Residential,Single Family,-1,NaN
25660,459706,16074,2016,12/01/2016 12:00:00 AM,Newtown,12 OLD GREEN ROAD,286090,455000.0,0.628769,Residential,Single Family,-1,NaN
26308,469465,16074,2016,12/12/2016 12:00:00 AM,North Haven,11 POND VIEW CIR,249410,305000.0,0.817738,Residential,Single Family,-1,NaN
26736,474974,16074,2016,05/19/2017 12:00:00 AM,North Stonington,364 WYASSUP ROAD,236460,339000.0,0.697522,Residential,Single Family,-1,NaN
29547,513298,16074,2016,03/01/2017 12:00:00 AM,Orange,384 WEST RIVER ROAD,247000,265200.0,0.931373,Residential,Single Family,-1,NaN
31488,545047,16074,2016,11/23/2016 12:00:00 AM,Ridgefield,533 MAIN STREET,937910,1462500.0,0.641306,Residential,Single Family,-1,NaN
32481,556597,16074,2016,12/16/2016 12:00:00 AM,Seymour,20 ROBIN ROAD,153860,212000.0,0.725755,Residential,Single Family,14,NaN
45207,732668,16074,2016,12/27/2016 12:00:00 AM,Watertown,245 CHERRY AVE J24,62600,30000.0,2.086667,Residential,Single Family,8,NaN
47029,776187,16074,2016,11/21/2016 12:00:00 AM,Wethersfield,14 WARNER PLACE,256000,455000.0,0.562637,Residential,Single Family,-1,NaN
47778,785939,16074,2016,01/12/2017 12:00:00 AM,Wilton,60 TURTLEBACK ROAD,360640,400000.0,0.901600,Residential,Single Family,-1,NaN

Findings
* First 1-2 digits of serial number represent the last 1-2 digits of the year (i.e. 2015 serial numbers start with '15'. 2004 serial numbers start with '4')
* Does not seem to repeat towns in a year. So if there are 10 rows with the same serial number in 2010, those will all be from 10 differernt towns.

In [166]:
def test_duplicate_row_removal(df):
    """
    Raises an exception if there is a duplicate row, judged by whether the length of unique towns is
    not equal to the length of a sample subset of rows with the same serial number.
    """
    fails_test_table = None
    for i in range(0,50):
        # Are there rows with the same serial number AND same Town?
        sample_subset = show_all_rows_with_random_serial_number(df)
        passes_test = len(sample_subset) == len(sample_subset['Town'].unique())     # Best case scenario: lengths are equal.

        if not passes_test:
            fails_test_table = sample_subset
            raise Exception("Test failed! Duplicate row likely.")
            break

In [70]:
fails_test_table

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
147,677,20074,2002,09/02/2003 12:00:00 AM,Andover,WEST STREET,40500,82500.0,49.090000,Vacant Land,NaN,6,NaN
1074,9986,20074,2002,11/15/2002 12:00:00 AM,Avon,6 WILTSHIRE LANE,320320,575000.0,55.707826,Residential,Single Family,0,NaN
1076,9988,20074,2002,11/15/2002 12:00:00 AM,Avon,6 WILTSHIRE LANE,320320,575000.0,55.700000,Residential,Single Family,0,NaN
1431,11709,20074,2002,08/08/2003 12:00:00 AM,Barkhamsted,44 BRIARWOOD ROAD,133110,240000.0,55.460000,Residential,Single Family,14,NaN
1556,12422,20074,2002,04/30/2003 12:00:00 AM,Beacon Falls,18 LORRAINE DRIVE,123570,250000.0,49.428000,Residential,Single Family,0,NaN
1560,12427,20074,2002,04/30/2003 12:00:00 AM,Beacon Falls,18 LORRAINE DRIVE,123570,250000.0,49.420000,Residential,Single Family,0,NaN
1829,18206,20074,2002,03/27/2003 12:00:00 AM,Bethany,227 AMITY ROAD,145180,289900.0,50.079338,Residential,Single Family,0,NaN
1830,18209,20074,2002,03/27/2003 12:00:00 AM,Bethany,227 AMITY ROAD,145180,289900.0,50.070000,Residential,Single Family,0,NaN
2683,27006,20074,2002,11/20/2002 12:00:00 AM,Bloomfield,35 SPICE BUSH LANE,94960,199000.0,47.718590,Residential,Single Family,0,NaN
2684,27007,20074,2002,11/20/2002 12:00:00 AM,Bloomfield,35 SPICE BUSH LANE,94960,199000.0,47.710000,Residential,Single Family,0,NaN
4975,47185,20074,2002,10/07/2002 12:00:00 AM,Bridgeport,229 THORME STREET,88830,163000.0,54.496930,Residential,Single Family,0,NaN
4976,47187,20074,2002,10/07/2002 12:00:00 AM,Bridgeport,229 THORME STREET,88830,163000.0,54.490000,Residential,Single Family,0,NaN
9210,84038,20074,2002,12/05/2002 12:00:00 AM,Brookfield,34 WHISCONIER VLG,97950,174900.0,56.003430,Condo,NaN,0,NaN
9211,84040,20074,2002,12/05/2002 12:00:00 AM,Brookfield,34 WHISCONIER VLG,97950,174900.0,56.000000,Condo,NaN,0,NaN
9766,87332,20074,2002,02/05/2003 12:00:00 AM,Brooklyn,558 WAUREGAN ROAD,67340,145000.0,46.441380,Residential,Single Family,0,NaN
9767,87334,20074,2002,02/05/2003 12:00:00 AM,Brooklyn,558 WAUREGAN ROAD,67340,145000.0,46.440000,Residential,Single Family,0,NaN
10088,88796,20074,2002,02/06/2003 12:00:00 AM,Burlington,206 JOHNNYCAKE MTN ROAD,36180,430000.0,8.413953,Vacant Land,NaN,28,NaN
10089,88798,20074,2002,02/06/2003 12:00:00 AM,Burlington,206 JOHNNYCAKE MTN ROAD,36180,430000.0,8.410000,Vacant Land,NaN,28,NaN
10660,91928,20074,2002,04/22/2003 12:00:00 AM,Canterbury,KNOLLWOOD DRIVE,160700,80000.0,200.875000,Vacant Land,NaN,24,NaN
10661,91929,20074,2002,04/22/2003 12:00:00 AM,Canterbury,KNOLLWOOD DRIVE,160700,80000.0,200.870000,Vacant Land,NaN,24,NaN
11084,94368,20074,2002,12/24/2002 12:00:00 AM,Canton,54 HANSON ROAD,143280,270000.0,53.066670,Residential,Single Family,0,NaN
11085,94369,20074,2002,12/24/2002 12:00:00 AM,Canton,54 HANSON ROAD,143280,270000.0,53.060000,Residential,Single Family,0,NaN
11973,99734,20074,2002,11/26/2002 12:00:00 AM,Cheshire,44 IVES HILL CT,77830,160000.0,48.643750,Condo,NaN,0,NaN
11974,99735,20074,2002,11/26/2002 12:00:00 AM,Cheshire,44 IVES HILL CT,77830,160000.0,48.640000,Condo,NaN,0,NaN
12379,102447,20074,2002,07/02/2003 12:00:00 AM,Chester,16 CEDAR STREET,62500,80000.0,78.125000,Residential,Single Family,1,NaN
12380,102448,20074,2002,07/02/2003 12:00:00 AM,Chester,16 CEDAR STREET,62500,80000.0,78.120000,Residential,Single Family,1,NaN
13013,105932,20074,2002,11/26/2002 12:00:00 AM,Clinton,5 E LOOP ROAD,191100,465800.0,41.026190,Residential,Single Family,0,NaN
13015,105934,20074,2002,11/26/2002 12:00:00 AM,Clinton,5 E LOOP ROAD,191100,465800.0,41.020000,Residential,Single Family,0,NaN
13625,109033,20074,2002,12/02/2002 12:00:00 AM,Colchester,39 MEYER ROAD,86400,151900.0,56.879530,Residential,Single Family,0,NaN
13626,109034,20074,2002,12/02/2002 12:00:00 AM,Colchester,39 MEYER ROAD,86400,151900.0,56.870000,Residential,Single Family,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93358,733779,20074,2002,12/04/2002 12:00:00 AM,Watertown,44 CANNON ROADG,65660,165000.0,39.793940,Condo,NaN,0,NaN
93359,733780,20074,2002,12/04/2002 12:00:00 AM,Watertown,44 CANNON ROADG,65660,165000.0,39.790000,Condo,NaN,0,NaN
95935,749470,20074,2002,10/21/2002 12:00:00 AM,West Hartford,71 IROQUIOS ROAD,108030,180000.0,60.016670,Residential,Single Family,0,NaN
95936,749471,20074,2002,10/21/2002 12:00:00 AM,West Hartford,71 IROQUIOS ROAD,108030,180000.0,60.010000,Residential,Single Family,0,NaN
96840,754755,20074,2002,10/23/2002 12:00:00 AM,West Haven,192 ATWATER STREET,89110,187000.0,47.652410,Residential,Three Family,0,NaN
96841,754756,20074,2002,10/23/2002 12:00:00 AM,West Haven,192 ATWATER STREET,89110,187000.0,47.650000,Residential,Three Family,0,NaN
98321,762869,20074,2002,02/26/2003 12:00:00 AM,Westbrook,130 GROVE BCH N,59600,57500.0,103.652200,Vacant Land,NaN,10,NaN
98322,762870,20074,2002,02/26/2003 12:00:00 AM,Westbrook,130 GROVE BCH N,59600,57500.0,103.650000,Vacant Land,NaN,10,NaN
99122,767217,20074,2002,02/14/2003 12:00:00 AM,Weston,DAVIS HILL & LORDS HWY,5880,0.0,0.000000,Vacant Land,NaN,15,NaN
99123,767218,20074,2002,02/14/2003 12:00:00 AM,Weston,DAVIS HILL & LORDS HWY,5880,0.0,0.000000,Vacant Land,NaN,15,NaN
100170,774844,20074,2002,11/21/2002 12:00:00 AM,Westport,82 BEACHSIDE AVE,3243400,7250000.0,44.736550,Residential,Single Family,0,NaN
100171,774845,20074,2002,11/21/2002 12:00:00 AM,Westport,82 BEACHSIDE AVE,3243400,7250000.0,44.730000,Residential,Single Family,0,NaN
100247,775315,20074,2002,11/12/2002 12:00:00 AM,Wethersfield,10 SPRING STREET,38900,98000.0,39.693880,Condo,NaN,0,NaN
100248,775319,20074,2002,11/12/2002 12:00:00 AM,Wethersfield,10 SPRING STREET,38900,98000.0,39.690000,Condo,NaN,0,NaN
101347,782311,20074,2002,07/01/2003 12:00:00 AM,Willington,63 SCHOFIELD ROAD 2,43610,89900.0,48.509450,Condo,NaN,0,NaN
101348,782312,20074,2002,07/01/2003 12:00:00 AM,Willington,63 SCHOFIELD ROAD 2,43610,89900.0,48.500000,Condo,NaN,0,NaN
101599,790366,20074,2002,11/25/2002 12:00:00 AM,Windham,154 SOUTH STREET,63440,120000.0,52.866670,Residential,Two Family,0,NaN
101600,790367,20074,2002,11/25/2002 12:00:00 AM,Windham,154 SOUTH STREET,63440,120000.0,52.860000,Residential,Two Family,0,NaN
103052,798556,20074,2002,11/08/2002 12:00:00 AM,Windsor,428 BROAD STREET,92400,195000.0,47.384620,Residential,Single Family,0,NaN
103053,798558,20074,2002,11/08/2002 12:00:00 AM,Windsor,428 BROAD STREET,92400,195000.0,47.380000,Residential,Single Family,0,NaN
103596,802047,20074,2002,12/23/2002 12:00:00 AM,Windsor Locks,19 GREENLAND STREET,78200,175000.0,44.685710,Residential,Single Family,0,NaN
103597,802048,20074,2002,12/23/2002 12:00:00 AM,Windsor Locks,19 GREENLAND STREET,78200,175000.0,44.680000,Residential,Single Family,0,NaN
104038,805022,20074,2002,12/04/2002 12:00:00 AM,Wolcott,1146 SPINDLE HL ROAD,330400,274000.0,120.583900,Commercial,NaN,0,NaN
104039,805023,20074,2002,12/04/2002 12:00:00 AM,Wolcott,1146 SPINDLE HL ROAD,330400,274000.0,120.580000,Commercial,NaN,3,NaN
104777,808996,20074,2002,02/12/2003 12:00:00 AM,Woodbridge,17 PINE ROADG ROAD,295470,656000.0,45.041160,Residential,Single Family,0,NaN
104778,808997,20074,2002,02/12/2003 12:00:00 AM,Woodbridge,17 PINE ROADG ROAD,295470,656000.0,45.040000,Residential,Single Family,0,NaN
105136,810938,20074,2002,12/24/2002 12:00:00 AM,Woodbury,16 OLD TOWN FARM ROAD,89330,117000.0,76.350430,Residential,Single Family,1,NaN
105137,810939,20074,2002,12/24/2002 12:00:00 AM,Woodbury,16 OLD TOWN FARM ROAD,89330,117000.0,76.350000,Residential,Single Family,1,NaN
105596,813395,20074,2002,01/03/2003 12:00:00 AM,Woodstock,1120 RT 197,165910,374900.0,44.254470,Residential,Single Family,0,NaN
105597,813396,20074,2002,01/03/2003 12:00:00 AM,Woodstock,1120 RT 197,165910,374900.0,44.250000,Residential,Single Family,0,NaN

Findings
* If the same serial number occurrs among rows with the same year and town, they are duplicates.
* One row seems to be the partially rounded version of the other, and the rounded one is usually the second one.
* The rounding here is pretty inconsequential, I think, as these are not measurements that demand decimal accuracy.

__Fix this with a clean that removes duplicates, preferring the first row over the second or subsequent duplicate rows.__

In [159]:
def remove_duplicate_rows(df):
    """
    Removes duplicate rows.
    Rows are duplicates if they have the same serial number, ListYear, and town.
    In most cases, there are just two copies of a row with the difference being that the second one is slightly
    rounded.
    Arbitrarily choose the first row and throw out subsequent duplicate rows.
    """
    new_df = df.copy()
    return new_df.drop_duplicates(['SerialNumber', 'ListYear', 'Town', 'DateRecorded', 'Address'])

In [160]:
df = get_dataframe(MIN_YEAR, MAX_YEAR)

In [161]:
df_no_duplicates = remove_duplicate_rows(df)

In [165]:
for i in range(0, 50):
    randomly = show_all_rows_with_random_serial_number(df_no_duplicates)
    passes_test = len(randomly['Address'].unique()) == len(randomly)
    print(passes_test)
    if passes_test == False:
        break
randomly

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
242,2782,10218,2001,05/21/2002 12:00:00 AM,Ansonia,4-6 COOK STREET,75670,110000.0,68.790909,Residential,Two Family,0,NaN
949,9861,10218,2001,03/27/2002 12:00:00 AM,Avon,6 BRIGHTON WAY,105630,178000.0,59.342697,Vacant Land,NaN,0,NaN
1414,15768,10218,2001,03/28/2002 12:00:00 AM,Berlin,37 CRATER LANE,104780,204000.0,51.362745,Residential,Single Family,0,NaN
1914,19721,10218,2001,03/27/2002 12:00:00 AM,Bethel,1205 LEXINGTON BLVD,42980,109900.0,39.108280,Condo,NaN,7,NaN
2873,28723,10218,2001,03/21/2002 12:00:00 AM,Bloomfield,86 W DUDLEY TOWN ROAD,50900,45000.0,113.111100,Vacant Land,NaN,0,NaN
3571,35181,10218,2001,01/15/2002 12:00:00 AM,Branford,49 JEFFERSON WDS,67760,131600.0,51.489360,Condo,NaN,0,NaN
4139,40445,10218,2001,10/29/2001 12:00:00 AM,Bridgeport,129 COLUMBIA STREET,43670,36000.0,121.305600,Residential,Two Family,0,NaN
7521,75006,10218,2001,11/16/2001 12:00:00 AM,Bristol,37 BERKSHIRE DRIVE,106270,170000.0,62.511760,Residential,Single Family,0,NaN
8680,90447,10218,2001,08/16/2002 12:00:00 AM,Burlington,BIGWOOD LANE,130060,255000.0,51.003920,Residential,Single Family,16,NaN
9119,95250,10218,2001,07/15/2002 12:00:00 AM,Canton,MULTI ADDRESSES,89140,190000.0,46.915790,Vacant Land,NaN,3,NaN
9616,100575,10218,2001,03/01/2002 12:00:00 AM,Cheshire,564 HIGGINS ROAD,174250,385000.0,45.259740,Residential,Single Family,0,NaN
10056,104843,10218,2001,05/21/2002 12:00:00 AM,Clinton,23 WHITEWOOD ROAD,97300,110000.0,88.454550,Residential,Single Family,14,NaN
10393,113464,10218,2001,06/20/2002 12:00:00 AM,Coventry,15 GOOSE LANE,73640,107000.0,68.822430,Residential,Single Family,0,NaN
10994,119049,10218,2001,04/01/2002 12:00:00 AM,Cromwell,4 HEMLOCK CT,36440,80000.0,45.550000,Condo,NaN,0,NaN
12818,134023,10218,2001,11/02/2001 12:00:00 AM,Danbury,7 PADANARAM ROAD J252,29800,70000.0,42.571430,Condo,NaN,0,NaN
13575,142077,10218,2001,05/25/2002 12:00:00 AM,Darien,97 RAYMOND STREET,370020,580000.0,63.796550,Residential,Single Family,0,NaN
13771,144927,10218,2001,07/02/2002 12:00:00 AM,Derby,39 SUNSET DRIVE,82110,81000.0,101.370400,Residential,Single Family,8,NaN
14212,149140,10218,2001,06/03/2002 12:00:00 AM,East Haddam,1 STARR ROAD,157260,262000.0,60.022900,Residential,Single Family,0,NaN
14800,154524,10218,2001,05/02/2002 12:00:00 AM,East Hampton,56 RIDGEVIEW DRIVE,35590,239900.0,14.835350,Vacant Land,NaN,7,NaN
15571,172314,10218,2001,01/07/2002 12:00:00 AM,East Haven,560 SILVER SANDS ROAD 701,98700,162000.0,60.925930,Condo,NaN,0,NaN
15951,181402,10218,2001,07/26/2002 12:00:00 AM,East Windsor,56 OLD ELLINGTON ROAD,70400,145000.0,48.551720,Residential,Single Family,0,NaN
16397,185958,10218,2001,05/31/2002 12:00:00 AM,Ellington,24 WEST ROAD UT 46,25200,35000.0,72.000000,Condo,NaN,0,NaN
17082,214866,10218,2001,01/22/2002 12:00:00 AM,Farmington,24 WORTHINGTON DRIVE,627800,398626.0,157.491000,Condo,NaN,7,NaN
17746,221120,10218,2001,12/20/2001 12:00:00 AM,Glastonbury,150 GEORGETOWN DRIVE,72100,184000.0,39.184780,Condo,NaN,0,NaN
18714,230650,10218,2001,07/03/2002 12:00:00 AM,Granby,139 LOOMIS STREET,163210,225000.0,72.537780,Residential,Two Family,28,NaN
19345,260836,10218,2001,03/15/2002 12:00:00 AM,Guilford,535 BOSTON POST ROAD,287580,600000.0,47.930000,Commercial,NaN,0,NaN
20498,274136,10218,2001,12/05/2001 12:00:00 AM,Hamden,445 HILLFIELD ROAD,142730,222500.0,64.148310,Residential,Single Family,0,NaN
22815,301785,10218,2001,03/18/2002 12:00:00 AM,Killingly,238 256 & 258 E FRANKLIN,44810,62500.0,71.696000,Residential,Single Family,0,NaN
23793,317911,10218,2001,05/03/2002 12:00:00 AM,Madison,32 WILLOW LANE,150600,265000.0,56.830190,Residential,Single Family,0,NaN
25145,332229,10218,2001,12/03/2001 12:00:00 AM,Manchester,81 CAMPFIELD ROAD,65400,107000.0,61.121500,Residential,Single Family,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49316,662861,10218,2001,06/04/2002 12:00:00 AM,Tolland,356 CRYSTAL LK ROAD,94390,160000.0,58.993750,Residential,Single Family,0,NaN
49546,665051,10218,2001,12/21/2001 12:00:00 AM,Torrington,111 TORRINGTON HTS,65600,65000.0,100.923100,Residential,Single Family,8,NaN
50954,680877,10218,2001,03/01/2002 12:00:00 AM,Trumbull,46 SPRINGWOOD DRIVE,160860,277000.0,58.072200,Residential,Single Family,0,NaN
51839,690504,10218,2001,02/27/2002 12:00:00 AM,Vernon,MULTI ADDRESSES,1657110,3115341.0,53.191930,Apartments,NaN,3,NaN
52138,727035,10218,2001,03/20/2002 12:00:00 AM,Waterford,168 WATERFORD PKY S BO10,17500,220000.0,7.954545,Condo,NaN,7,NaN
52686,732269,10218,2001,04/02/2002 12:00:00 AM,Watertown,194 WHISPERING HILL,108780,207500.0,52.424100,Residential,Single Family,0,NaN
53337,739419,10218,2001,11/29/2001 12:00:00 AM,West Hartford,156 WESTLAND AVE,174390,342500.0,50.916790,Residential,Single Family,0,NaN
55045,757974,10218,2001,12/04/2001 12:00:00 AM,West Haven,394 PAINTER DRIVE,61670,86000.0,71.709300,Residential,Single Family,0,NaN
55794,767250,10218,2001,08/08/2002 12:00:00 AM,Weston,LORDS HWY,0,10000.0,0.000000,Residential,Single Family,7,NaN
56222,772202,10218,2001,03/04/2002 12:00:00 AM,Westport,37 PARK LANE,393100,610000.0,64.442620,Residential,Single Family,0,NaN
56745,778291,10218,2001,02/28/2002 12:00:00 AM,Wethersfield,33 RIDGE ROAD,56600,129500.0,43.706560,Condo,NaN,0,NaN
57432,785212,10218,2001,06/07/2002 12:00:00 AM,Wilton,4 ERDMANN LANE,248220,277750.0,89.368140,Residential,Single Family,1,NaN
57633,787330,10218,2001,07/01/2002 12:00:00 AM,Winchester,132 SMITH HL ROAD,82380,153000.0,53.843140,Residential,Single Family,0,NaN
58043,795772,10218,2001,02/06/2002 12:00:00 AM,Windsor,178 ETHAN DRIVE,211190,369900.0,57.093810,Residential,Single Family,0,NaN
58817,804762,10218,2001,06/26/2002 12:00:00 AM,Windsor Locks,NORTH STREET,24300,49900.0,48.697390,Vacant Land,NaN,0,NaN
59183,812137,10218,2001,03/18/2002 12:00:00 AM,Woodbury,43 D2 SHERMAN HILL,1760,3000.0,58.666670,Commercial,NaN,0,NaN
59451,814635,10218,2001,08/15/2002 12:00:00 AM,Woodstock,46 BARBER ROAD,77370,159900.0,48.386490,Residential,Single Family,0,NaN
2657,66219,10218,2010,11/24/2010 12:00:00 AM,Bridgeport,89-91 MILL HILL AVE,185230,95200.0,1.945693,Residential,Two Family,14,NaN
5460,139436,10218,2010,07/14/2011 12:00:00 AM,Darien,28 INTERVALE ROAD,718690,1059000.0,0.678650,Residential,Single Family,-1,NaN
7679,220520,10218,2010,03/16/2011 12:00:00 AM,Glastonbury,128 BLUE HILLS TRL,462600,630000.0,0.734286,Residential,Single Family,-1,NaN
8504,252339,10218,2010,05/20/2011 12:00:00 AM,Groton,23 DEPOT ROAD,88550,65000.0,1.362308,Residential,Single Family,14,NaN
9238,276456,10218,2010,03/23/2011 12:00:00 AM,Hamden,68 WOODLAWN STREET,191240,290000.0,0.659448,Residential,Single Family,-1,NaN
9345,280273,10218,2010,01/31/2011 12:00:00 AM,Hartford,108 HEBRON STREET,41222,85000.0,0.484965,Residential,Single Family,25,NaN
10739,320041,10218,2010,07/18/2011 12:00:00 AM,Madison,95 SQUIRES ROAD,322900,360000.0,0.896944,Residential,Single Family,-1,NaN
11093,331881,10218,2010,04/14/2011 12:00:00 AM,Manchester,76 WHITNEY ROAD,119500,145000.0,0.824138,Residential,Single Family,-1,NaN
12390,367844,10218,2010,01/28/2011 12:00:00 AM,Milford,16 SAWMILL ROAD,219520,318500.0,0.689231,Residential,Single Family,-1,NaN
14838,429062,10218,2010,01/31/2011 12:00:00 AM,New Haven,32 GIRARD AVENUE,147000,180000.0,0.816667,Residential,Single Family,-1,NaN
16169,472193,10218,2010,07/27/2011 12:00:00 AM,North Haven,340 MILL ROAD,226520,200000.0,1.132600,Residential,Single Family,1,NaN
20060,581744,10218,2010,06/14/2011 12:00:00 AM,South Windsor,309 MILL POND DRIVE,150500,219900.0,0.684402,Condo,NaN,-1,NaN
20269,592192,10218,2010,04/11/2011 12:00:00 AM,Southington,127 SHWEKY LANE,235620,260000.0,0.906231,Residential,Single Family,25,NaN