### CT Statewide House Sales Transactions
This notebook is exploring the data from https://data.ct.gov/Housing-and-Development/Real-Estate-Sales-2001-2016/5mzw-sjtu?category=Housing-and-Development , which lists CT statewide sales transactions on individual properties from 2001-2016.
* Note: this link includs a PDF that explains each of the NonUseCodes.

My GitHub repository: https://github.com/jamiekasulis/ct_real_estate_sales, where you can view
* The raw data file
* The notebook I used to clean that file
* The clean data files that I analyze here

### Potential Inquiries
* See where properties with multiple transactions gained and lost value --> (How many houses, how much value, by town, over different periods of time)
* Foreclosures-- where and when have there been a lot?
* Building of new developments? (Might be shown by selling many houses in a short period of time on a new road)
* Signs of house flipping, i.e. a purchase and a sale for significantly more within a short period
* Has recovery been different for different segments of the market (different price-range houses)?
* Are there observable effects of the crumbling fundations in the northeastern part of CT?

### Calculations
* Adjust sales prices for inflation/season -- there is a Python package for seasonal adjustment
* Take a close look at the assessment column
* Each town's assessment rate, or look at a hosue's sale ratio relative to its town only
* Distribution of house prices in given towns, or on given streets
* Town-by-town medians, ranges

### Themes
* Recovery

In [13]:
import pandas as pd

#### Update MAX_YEAR when new data comes out.

In [14]:
MIN_YEAR = 2001
MAX_YEAR = 2016 # update this when new data comes out

In [15]:
def combine_data_into_master_df():
    """
    Returns a DataFrame which combines all of the clean CSVs for each year.
    """
    # Combine the year-by-year clean csvs, which are located at 'data/clean_data_20xx_listings.csv'
    df = pd.read_csv('data/clean_data_' + str(MIN_YEAR) + '_listings.csv')
    for year in range(MIN_YEAR+1, MAX_YEAR+1):
        df = df.append(pd.read_csv('data/clean_data_' + str(year) + '_listings.csv'))

    # Now remove the index column
    #df = df.drop('Unnamed: 0', 1)
    return df

In [16]:
df = combine_data_into_master_df()
df.head()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,684,10173,2001,04/17/2002 12:00:00 AM,Ansonia,1-3 EAGLE STREET,63630,116000.0,54.853448,Residential,Two Family,0,NaN
1,694,10005,2001,10/04/2001 12:00:00 AM,Ansonia,1 CRESTWOOD ROAD,76370,160000.0,47.731250,Residential,Single Family,0,NaN
2,697,10253,2001,06/18/2002 12:00:00 AM,Ansonia,1 DAVIES CT,97720,180000.0,54.288889,Residential,Single Family,0,NaN
3,698,10094,2001,01/17/2002 12:00:00 AM,Ansonia,1 DOREL TER,110600,259900.0,42.554829,Residential,Single Family,0,NaN
4,710,10100,2001,01/30/2002 12:00:00 AM,Ansonia,1 JAMES STREET,63210,132000.0,47.886364,Residential,Single Family,0,NaN

In [17]:
df.tail()

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
49768,813238,160015,2016,10/25/2016 12:00:00 AM,Woodbury,UPPER GRASSY HILL ROAD(66-4),3500,115000.0,0.030435,Vacant Land,NaN,28,PURCHASED LAND IN OPEN SPACE FROM UNCLE
49769,813243,160085,2016,02/17/2017 12:00:00 AM,Woodbury,WASHINGTON ROAD,1540,77000.0,0.020000,Vacant Land,NaN,14,SALE WITH ID: 143600
49770,813244,160153,2016,06/20/2017 12:00:00 AM,Woodbury,WASHINGTON ROAD,68230,72500.0,0.941103,Vacant Land,NaN,-1,UNIQUE ID: 174200
49771,813245,160112,2016,04/24/2017 12:00:00 AM,Woodbury,WEEKEEPEEMEE ROAD,186430,150000.0,1.242867,Vacant Land,NaN,10,ID 208400
49772,813263,160047,2016,12/30/2016 12:00:00 AM,Woodbury,WHITE DEER ROCKS ROAD (8-12D),5090,50000.0,0.101800,Vacant Land,NaN,28,OPEN SPACE

In [18]:
# Make sure the IDs match the right rows from the original raw file
df.sort_values('ID') # Looks good

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
0,1,14046,2014,09/29/2015 12:00:00 AM,Andover,US ROUTE 6 M 33 B 36 L 22,10720,75000.0,0.142933,Vacant Land,NaN,-1,NaN
0,2,900035,2009,07/20/2010 12:00:00 AM,Andover,1 DOGWOOD DRIVE,55600,99000.0,0.561616,Vacant Land,NaN,-1,NaN
1,3,14011,2014,01/14/2015 12:00:00 AM,Andover,1 JUROVATY LANE,153100,190000.0,0.805789,Residential,Single Family,-1,NaN
0,4,80009,2008,01/21/2009 12:00:00 AM,Andover,1 ROSE LANE,116600,138900.0,0.839453,Residential,Single Family,-1,NaN
0,5,15006,2015,11/30/2015 12:00:00 AM,Andover,1 ROSE LANE,102900,50000.0,2.058000,Residential,Single Family,14,PROPERTY WAS OWNED BY THE BANK
0,6,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.341232,Residential,Single Family,0,NaN
1,7,20030,2002,04/24/2003 12:00:00 AM,Andover,10 BAUSOLA ROAD,91800,189900.0,48.340000,Residential,Single Family,0,NaN
0,8,30047,2003,04/19/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,56600,80000.0,70.750000,Vacant Land,NaN,0,NaN
0,9,40003,2004,10/18/2004 12:00:00 AM,Andover,10 CHESTER BRKS LANE,194100,446639.0,43.457916,Residential,Single Family,7,NaN
0,10,70005,2007,11/19/2007 12:00:00 AM,Andover,10 CHESTER BROOKS LANE,313400,425000.0,0.737412,Residential,Single Family,-1,NaN
1,11,40042,2004,05/23/2005 12:00:00 AM,Andover,10 DOGWOOD DRIVE,218700,440000.0,49.704545,Residential,Single Family,7,NaN
0,12,13021,2013,06/16/2014 12:00:00 AM,Andover,10 HICKORY HILL DRIVE,109400,165000.0,0.663000,Residential,Single Family,-1,NaN
2,13,40035,2004,04/01/2005 12:00:00 AM,Andover,10 HICKORY HL DRIVE,77900,184000.0,42.336957,Residential,Single Family,0,NaN
2,14,14044,2014,09/28/2015 12:00:00 AM,Andover,10 PINE RIDGE DRIVE,108700,128368.0,0.846784,Residential,Single Family,-1,NaN
0,15,50027,2005,03/16/2006 12:00:00 AM,Andover,10 SHODDY ML ROAD,84900,215000.0,39.488372,Residential,Single Family,1,NaN
1,16,30063,2003,07/15/2004 12:00:00 AM,Andover,101 GILEAD ROAD,104000,218000.0,47.700000,Residential,Single Family,0,NaN
3,17,14035,2014,08/10/2015 12:00:00 AM,Andover,101 WALES ROAD,164000,230000.0,0.713043,Residential,Single Family,-1,NaN
1,18,900008,2009,12/14/2009 12:00:00 AM,Andover,101 WALES ROAD,186400,248500.0,0.750101,Residential,Single Family,-1,NaN
3,19,40650,2004,08/18/2005 12:00:00 AM,Andover,102 GILEAD ROAD,111100,279900.0,39.692747,Residential,Single Family,0,NaN
2,20,30055,2003,01/06/2004 12:00:00 AM,Andover,104 WEST STREET,52300,314867.0,16.610000,Residential,Single Family,7,NaN
3,21,30037,2003,02/02/2004 12:00:00 AM,Andover,106 HENDEE ROAD,106100,220000.0,48.220000,Residential,Single Family,0,NaN
1,22,15051,2015,09/28/2016 12:00:00 AM,Andover,107 LAKESIDE DRIVE,188400,226000.0,0.833628,Residential,Single Family,-1,NaN
2,23,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.232877,Residential,Single Family,0,NaN
3,24,20026,2002,03/04/2003 12:00:00 AM,Andover,109 LAKESIDE DRIVE,96700,146000.0,66.230000,Residential,Single Family,0,NaN
1,25,13010,2013,03/17/2014 12:00:00 AM,Andover,11 CENTER STREETREET,130200,164000.0,0.794000,Residential,Single Family,-1,NaN
4,26,30072,2003,08/16/2004 12:00:00 AM,Andover,11 DOGWOOD DRIVE,45600,449900.0,10.130000,Residential,Single Family,7,NaN
0,27,100027,2010,07/11/2011 12:00:00 AM,Andover,11 DOGWOOD DRIVE,348600,450000.0,0.774667,Residential,Single Family,-1,NaN
4,28,40001,2004,10/12/2004 12:00:00 AM,Andover,11 SHADBLOW LANE,132800,381900.0,34.773501,Residential,Single Family,7,NaN
4,29,14002,2014,10/28/2014 12:00:00 AM,Andover,11 WEST STREET,89400,48000.0,1.862500,Residential,Single Family,-1,NaN
1,30,50050,2005,08/07/2006 12:00:00 AM,Andover,11 WHEELING ROAD,116500,215000.0,54.186047,Residential,Single Family,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59583,815876,10254,2001,09/23/2002 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,20330,16000.0,127.062500,Vacant Land,NaN,0,NaN
106060,815877,20149,2002,04/25/2003 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,13230,16000.0,82.687500,Vacant Land,NaN,0,NaN
106061,815878,20148,2002,04/25/2003 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,13230,8000.0,165.375000,Vacant Land,NaN,25,NaN
64232,815879,30190,2003,07/16/2004 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,13230,16000.0,82.680000,Vacant Land,NaN,0,NaN
106062,815880,20149,2002,04/25/2003 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,13230,16000.0,82.680000,Vacant Land,NaN,0,NaN
106063,815881,20148,2002,04/25/2003 12:00:00 AM,Woodstock,VALLEY VIEW ROAD,13230,8000.0,165.370000,Vacant Land,NaN,25,NaN
64233,815882,30123,2003,04/29/2004 12:00:00 AM,Woodstock,VALLEY VW ROAD,11760,22000.0,53.450000,Vacant Land,NaN,0,NaN
84050,815883,40118,2004,03/01/2005 12:00:00 AM,Woodstock,VALLEY VW ROAD,11760,45000.0,26.133330,Vacant Land,NaN,0,NaN
84051,815884,40220,2004,07/11/2005 12:00:00 AM,Woodstock,VALLEY VW ROAD,11760,65000.0,18.092310,Vacant Land,NaN,0,NaN
48771,815885,60125,2006,06/27/2007 12:00:00 AM,Woodstock,VALLEY VW ROAD,45500,63000.0,0.722222,Vacant Land,NaN,-1,addl remarks
48772,815886,60063,2006,03/20/2007 12:00:00 AM,Woodstock,VALLEY VW ROAD LT 13,7800,22500.0,0.346667,Vacant Land,NaN,24,addl remarks
48773,815887,60064,2006,03/20/2007 12:00:00 AM,Woodstock,VALLEY VW ROAD LT 14,7800,22500.0,0.346667,Vacant Land,NaN,24,addl remarks
64234,815888,30071,2003,02/02/2004 12:00:00 AM,Woodstock,W QUASSET ROAD,67200,180000.0,37.330000,Vacant Land,NaN,0,NaN
64235,815889,30180,2003,07/02/2004 12:00:00 AM,Woodstock,W QUASSET ROAD,13720,40000.0,34.300000,Vacant Land,NaN,0,NaN
84052,815890,40008,2004,10/04/2004 12:00:00 AM,Woodstock,WALKER LANE,11760,28000.0,42.000000,Vacant Land,NaN,0,NaN
48774,815891,60096,2006,05/15/2007 12:00:00 AM,Woodstock,WALKER LANE,23600,25900.0,0.911197,Vacant Land,NaN,-1,addl remarks
64236,815892,30032,2003,11/10/2003 12:00:00 AM,Woodstock,WALNUT ROAD,5510,4000.0,137.750000,Vacant Land,NaN,25,NaN
84053,815893,40255,2004,08/22/2005 12:00:00 AM,Woodstock,WALNUT ROAD,5510,20000.0,27.550000,Vacant Land,NaN,8,NaN
84054,815894,40256,2004,08/22/2005 12:00:00 AM,Woodstock,WALNUT ROAD,5510,20000.0,27.550000,Vacant Land,NaN,8,NaN
42506,815895,90068,2009,03/25/2010 12:00:00 AM,Woodstock,WALNUT ROAD,7800,6000.0,1.300000,Vacant Land,NaN,25,NaN
84055,815896,40279,2004,09/09/2005 12:00:00 AM,Woodstock,WALNUT ROAD LT 305,5510,15000.0,36.733330,Vacant Land,NaN,0,NaN
42507,815897,90017,2009,10/29/2009 12:00:00 AM,Woodstock,WEST QUASSET ROAD,140400,195000.0,0.720000,Vacant Land,NaN,-1,NaN
64237,815898,30236,2003,09/07/2004 12:00:00 AM,Woodstock,WINDSWEPT ACRES,21880,69900.0,31.300000,Vacant Land,NaN,0,NaN
106064,815899,20146,2002,04/21/2003 12:00:00 AM,Woodstock,WINDSWEPT DRIVE,20080,44900.0,44.721600,Vacant Land,NaN,0,NaN
106065,815900,20090,2002,01/28/2003 12:00:00 AM,Woodstock,WINDSWEPT DRIVE,20080,59900.0,33.522540,Vacant Land,NaN,0,NaN
106066,815901,20146,2002,04/21/2003 12:00:00 AM,Woodstock,WINDSWEPT DRIVE,20080,44900.0,44.720000,Vacant Land,NaN,0,NaN
106067,815902,20090,2002,01/28/2003 12:00:00 AM,Woodstock,WINDSWEPT DRIVE,20080,59900.0,33.520000,Vacant Land,NaN,0,NaN
49561,815903,140146,2014,09/21/2015 12:00:00 AM,Woodstock,WOODLAND DRIVE,42000,5000.0,8.400000,Vacant Land,NaN,-1,NaN
49562,815904,140058,2014,03/17/2015 12:00:00 AM,Woodstock,WOODSTOCK ROAD,390,25000.0,0.015600,Vacant Land,NaN,-1,NaN
64238,815905,30214,2003,08/01/2004 12:00:00 AM,Woodstock,WOODSTOCK ROAD LT 21C,141210,10000.0,1412.100000,Commercial,NaN,6,NaN

### Notes on the data frames
* Use DataFrame 'df' if you want to look at ALL of the data
* Use 'use_df' if you want to just look at the rows that don't have NonUseCodes. You should use use_df if you are calculating any statistics.
* Use 'res_df' if you want to look at RESIDENTIAL properties (but not condos or apartments) that don't have NonUseCodes. Best way to observe the real estate market in general.

In [19]:
def get_residential(df):
    """
    Returns just the residential properties.
    """
    return df[df['PropertyType'] == 'Residential']

def get_commercial(df):
    """
    Returns just the commercial properties.
    """
    return df[df['PropertyType'] == 'Commercial']

In [20]:
use_df = df[df['NonUseCode'] == -1]
res_df = get_residential(use_df)

In [25]:
# Check
use_df[use_df['NonUseCode'] != -1]
res_df[res_df['PropertyType'] != 'Residential']

Empty DataFrame
Columns: [ID, SerialNumber, ListYear, DateRecorded, Town, Address, AssessedValue, SaleAmount, SalesRatio, PropertyType, ResidentialType, NonUseCode, Remarks]
Index: []

### Foreclosures-- where and when have there been a lot?
Note: In order for this analysis to be truthfully valuable, you should do some kind of adjustment. This might be very complicated. (Adjusting by population fails to weigh folks living in apartments, for example.)

In [26]:
# How many foreclosures on properties 2001-2016?
foreclosures = df[df['NonUseCode'] == 14]
print("Number of properties that have been foreclosed on: %d" %len(foreclosures['Address'].unique()))

Number of properties that have been foreclosed on: 35797

#### Make a function to return a DataFrame that ranks towns by most foreclosures.

In [27]:
def count_foreclosures_by_town(df, town, years=(MIN_YEAR, MAX_YEAR), property_type = 'Residential'):
    """
    Returns a subset of df of foreclosed properties from town.
    Is a helper function for make_foreclosures_by_town_dict()
    """
    # Make sure proper arguments passed
    if property_type not in ['Residential', 'Commercial', 'All']:
        raise Exception("Not a valid property_type.")
        return
    if years[0] < MIN_YEAR or years[1] > MAX_YEAR:
        raise Exception("Not a valid year range")
        return
    
    else:
        # Convert year range to a list of all years in that range
        years = list(range(years[0], years[1]+1))
    
    subset = df[(df['Town'] == town) & (df['ListYear'].isin(years)) & (df['NonUseCode'] == 14)]
    return subset

In [28]:
def make_foreclosures_by_town_dict(df, years=(MIN_YEAR, MAX_YEAR), property_type = 'Residential'):
    """
    Returns a dictionary with keys = town name and value = number of foreclosures.
    This function feeds make_rankings_df_from_dict.
    """
    foreclosure_ranks_by_town = {}
    for town in df['Town'].unique():
        if town not in foreclosure_ranks_by_town.keys():
            foreclosure_ranks_by_town[town] = len(count_foreclosures_by_town(df, town, years, property_type))
    return foreclosure_ranks_by_town

In [29]:
def make_rankings_df_from_dict(dictionary, value_name):
    """
    Makes a dataframe out of a dictionary. First column name is 'Town' and second is value_name.
    dictionary should be produced by an explicit call to make_foreclosures_by_town_dict.
    """
    df = pd.DataFrame.from_dict(data=dictionary, orient='index') # make initial df
    df['Town'] = df.index # pull index out into its own column
    df.columns = [value_name, 'Town'] # Set column names
    df = df[['Town', value_name]] # Reorder the columns
    
    df = df.sort_values(value_name, ascending=False, ) # Sort
    df = df.reset_index(drop=True)
    
    return df

In [30]:
def rank_towns_by_foreclosure_count(df, years=(MIN_YEAR, MAX_YEAR), property_type = 'Residential'):
    """
    Returns a dataframe of each town and the number of foreclosures they experienced in the range 'years'.
    Descending order. Index+1 can serve as the rank.
    The only function you should have to explicitly call to do this. All helper functions are called within.
    """
    return make_rankings_df_from_dict(make_foreclosures_by_town_dict(df), 'Foreclosures')

In [31]:
# Dataframe of foreclosure rankings by town, all years (MIN_YEAR to MAX_YEAR)
fc_rankings_town_all_years = rank_towns_by_foreclosure_count(df)

In [32]:
fc_rankings_town_all_years.head()

          Town  Foreclosures
0   Bridgeport          3407
1    Waterbury          3173
2  New Britain          1600
3    New Haven          1257
4   Torrington          1190

### Calculate town-by-town statistics
* Median assessed value
* Median sale amount
* Median sales ratio

### Dataframes:
* town_df for all residential properties without NonUseCodes in time range MINYEAR - MAXYEAR

In [34]:
# Make a dataframe with each town. We will store summary statistics in this dataframe.
town_df = pd.DataFrame(columns=['Town', 'MedianAssessedValue', 'MedianSaleAmount', 'MedianSalesRatio',
                               'MinAssessedValue', 'MaxAssessedValue', 'MinSaleAmount', 'MaxSaleAmount',
                               'MinSalesRatio', 'MaxSalesRatio'])
town_df['Town'] = df['Town'].unique()

In [35]:
town_df.head()

,Town,MedianAssessedValue,MedianSaleAmount,MedianSalesRatio,MinAssessedValue,MaxAssessedValue,MinSaleAmount,MaxSaleAmount,MinSalesRatio,MaxSalesRatio
0,Ansonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ashford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barkhamsted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def calculate_median_for_town(source_df, town, column, residential=True):
    """
    Calculates the median value of 'column' for a given town from df.
    NOTE: This is the median assessed value for SOLD properties. Will be
    different from the median assessed value for ALL properties.
    
    source_df should omit properties with a NonUseCode.
    """
    town_df = source_df[source_df['Town'] == town]
    
    if residential==True:
        town_df = get_residential(town_df)
    
    return town_df[column].median()

In [41]:
def calculate_medians_for_all_towns(town_df, source_df, column, residential=True):
    """
    Calculates the median value of 'column' for ALL unique towns in df.
    Returns this information as a DataFrame
    """
    median_column_name = 'Median' + column
    new_town_df = town_df.copy()
    for index in new_town_df.index:
        town = new_town_df.loc[index, 'Town']
        new_town_df.loc[index, median_column_name] = calculate_median_for_town(source_df, town, column, residential)
    
    return new_town_df

In [42]:
town_df = calculate_medians_for_all_towns(town_df, use_df, 'AssessedValue').head()

In [43]:
town_df.head()

,Town,MedianAssessedValue,MedianSaleAmount,MedianSalesRatio,MinAssessedValue,MaxAssessedValue,MinSaleAmount,MaxSaleAmount,MinSalesRatio,MaxSalesRatio
0,Ansonia,128900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ashford,137745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avon,282610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barkhamsted,159900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Berlin,172400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
town_df = calculate_medians_for_all_towns(town_df, use_df, 'SaleAmount').head()
town_df = calculate_medians_for_all_towns(town_df, use_df, 'SalesRatio').head()

In [45]:
town_df.head()

,Town,MedianAssessedValue,MedianSaleAmount,MedianSalesRatio,MinAssessedValue,MaxAssessedValue,MinSaleAmount,MaxSaleAmount,MinSalesRatio,MaxSalesRatio
0,Ansonia,128900,195750,0.691169,NaN,NaN,NaN,NaN,NaN,NaN
1,Ashford,137745,213000,0.700784,NaN,NaN,NaN,NaN,NaN,NaN
2,Avon,282610,412000,0.699646,NaN,NaN,NaN,NaN,NaN,NaN
3,Barkhamsted,159900,250000,0.660984,NaN,NaN,NaN,NaN,NaN,NaN
4,Berlin,172400,258000,0.683516,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Let's check to make sure the numbers match.
berlin_sales = res_df[(res_df['Town'] == 'Berlin') & (res_df['PropertyType'] == 'Residential')]
print(berlin_sales['AssessedValue'].median())
print(berlin_sales['SaleAmount'].median())
print(berlin_sales['SalesRatio'].median())

172400.0
258000.0
0.6835164835164841

In [47]:
avon_sales = res_df[(res_df['Town'] == 'Avon') & (res_df['PropertyType'] == 'Residential')]
print(avon_sales['AssessedValue'].median())
print(avon_sales['SaleAmount'].median())
print(avon_sales['SalesRatio'].median())

282610.0
412000.0
0.699645645645646

### Calculate SalesRatio
If my calculation of it is the same, then they use their SaleAmount to calculate it. Otherwise, they are using a market estimation.

*Data page defines SalesRatio as 'Ratio of the sale price to the assessed value.' I want to know if 'sales price' refers to SalesAmount or not.*

In [48]:
res_df[['Address', 'AssessedValue', 'SaleAmount', 'SalesRatio']].head(5)

                     Address  AssessedValue  SaleAmount  SalesRatio
69324  334 STREETICKNEY HILL         199890    374900.0    0.000000
0           1-3 WOODLAWN AVE         113300    163000.0    0.695092
1             1 CONDON DRIVE         149100    335000.0    0.445075
3         1 LAROVERA TERRACE         177000    387000.0    0.457364
5            1 THOMAS STREET          97000    243000.0    0.399177

I'll calculate SalesRatio myself and compare them side-by-side.

In [50]:
res_df_testing = res_df.copy()
res_df_testing['MySalesRatio'] = res_df_testing['AssessedValue'] / res_df_testing['SaleAmount']
res_df_testing[['SalesRatio', 'MySalesRatio']].head()

       SalesRatio  MySalesRatio
69324    0.000000      0.533182
0        0.695092      0.695092
1        0.445075      0.445075
3        0.457364      0.457364
5        0.399177      0.399177

For some reason, the first row has a SalesRatio of 0 when it doesn't seem like it should be. Could be an error when the data was entered.

### Calculate minimum and maximum sale amounts for each town

In [114]:
def get_town_min(source_df, town_df, town, column):
    """
    Finds the row with the minimum value of column for a given town in source_df.
    Saves this to town_df (as a separate copy).
    
    source_df should be residential properties w/o NonUseCodes if you are using res_df.
    """
    just_this_town = source_df[source_df['Town'] == town] # get the data for just this town
    
    min_val = just_this_town[column] # a list of values to find the minimum from
    min_val = min_val.min() # Grab the minimum column value
    min_row = just_this_town[just_this_town[column] == min_val] # Grab the row
    return min_row

In [115]:
get_town_min(res_df, town_df, 'Berlin', 'SaleAmount')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
1076,14948,140059,2014,12/04/2014 12:00:00 AM,Berlin,23 JEFFREY LANE,220400,4000.0,55.1,Residential,Single Family,-1,NaN

In [116]:
def get_town_max(source_df, town_df, town, column):
    """
    Finds the row with the maximum value of column for a given town in source_df.
    Saves this to town_df (as a separate copy).
    
    source_df should be residential properties w/o NonUseCodes if you are using res_df.
    """
    just_this_town = source_df[source_df['Town'] == town] # get the data for just this town
    
    town_df = just_this_town[column] # a list of values to find the minimum from
    max_val = town_df.max() # Grab the minimum column value
    max_row = just_this_town[just_this_town[column] == max_val] # Grab the row
    return max_row

In [117]:
get_town_max(res_df, town_df, 'Berlin', 'SaleAmount')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
635,16666,130084,2013,12/31/2013 12:00:00 AM,Berlin,66 QUINCY TRAIL,542900,700000.0,0.776,Residential,Single Family,-1,NaN

In [118]:
def calculate_town_mins_and_maxes(source_df, town_df, column):
    """
    Will use the data from source_df to calculate mins and maxes for column for every town.
    """
    new_town_df = town_df.copy()
    
    # Calculate min and max for each town
    for index in town_df.index:
        max_val = get_town_max(source_df, town_df, town_df.loc[index, 'Town'], column)[column].iloc[0]
        min_val = get_town_min(source_df, town_df, town_df.loc[index, 'Town'], column)[column].iloc[0]
    
        # Add to new_town_df
        min_column_name = 'Min' + column
        max_column_name = 'Max' + column
        new_town_df.loc[index, min_column_name] = min_val
        new_town_df.loc[index, max_column_name] = max_val
    
    return new_town_df

In [123]:
town_df = calculate_town_mins_and_maxes(res_df, town_df, 'SaleAmount')
town_df = calculate_town_mins_and_maxes(res_df, town_df, 'SalesRatio')
town_df = calculate_town_mins_and_maxes(res_df, town_df, 'AssessedValue')
town_df.head(5)

,Town,MedianAssessedValue,MedianSaleAmount,MedianSalesRatio,MinAssessedValue,MaxAssessedValue,MinSaleAmount,MaxSaleAmount,MinSalesRatio,MaxSalesRatio
0,Ansonia,128900,195750,0.691169,29800,312600,20100,645000,0.271374,5.81592
1,Ashford,137745,213000,0.700784,46300,334300,40000,495000,0.256527,2.17623
2,Avon,282610,412000,0.699646,50820,2896370,7500,5e+06,0.180948,23.8467
3,Barkhamsted,159900,250000,0.660984,62260,440750,16000,700000,0.408118,5.56438
4,Berlin,172400,258000,0.683516,0,1571000,4000,700000,0,55.1

In [125]:
get_town_max(res_df, town_df, 'Ansonia', 'SalesRatio')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
280,3547,14267,2014,06/05/2015 12:00:00 AM,Ansonia,70 NORTH PROSPECT STREETREET,116900,20100.0,5.81592,Residential,Single Family,-1,NaN

In [126]:
get_town_min(res_df, town_df, 'Ansonia', 'SalesRatio')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
227,3612,60015,2006,10/16/2006 12:00:00 AM,Ansonia,75 GROVE STREET,71100,262000.0,0.271374,Residential,Single Family,-1,addl remarks

In [127]:
get_town_max(res_df, town_df, 'Ansonia', 'AssessedValue')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
133,2166,13012,2013,04/28/2014 12:00:00 AM,Ansonia,26 CRESCENT STREETREET,312600,645000.0,0.485,Residential,Four Family,-1,NaN

In [128]:
get_town_min(res_df, town_df, 'Ansonia', 'AssessedValue')

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
145,2654,60108,2006,03/27/2007 12:00:00 AM,Ansonia,35 WOODBRIDGE AVE,29800,74000.0,0.402703,Residential,Single Family,-1,addl remarks

In [133]:
ansonia = res_df[res_df['Town'] == 'Ansonia']
ansonia.sort_values('SalesRatio', ascending=True)
ansonia.sort_values('SalesRatio', ascending=False)
ansonia.sort_values('AssessedValue', ascending=True)
ansonia.sort_values('AssessedValue', ascending=False)
# Looks good.

,ID,SerialNumber,ListYear,DateRecorded,Town,Address,AssessedValue,SaleAmount,SalesRatio,PropertyType,ResidentialType,NonUseCode,Remarks
133,2166,13012,2013,04/28/2014 12:00:00 AM,Ansonia,26 CRESCENT STREETREET,312600,645000.0,0.485000,Residential,Four Family,-1,NaN
112,2239,90019,2009,10/30/2009 12:00:00 AM,Ansonia,27 LAROVERA TERR,292200,410000.0,0.712683,Residential,Single Family,-1,NaN
117,2285,90082,2009,04/01/2010 12:00:00 AM,Ansonia,28 HOINSKI WAY,291400,376000.0,0.775000,Residential,Single Family,-1,NaN
49,762,90033,2009,11/16/2009 12:00:00 AM,Ansonia,10 CLIFFORD DRIVE,269800,365000.0,0.739178,Residential,Single Family,-1,NaN
68,1798,1172,2011,04/10/2012 12:00:00 AM,Ansonia,20 LAROVERA TERR,269000,307500.0,0.874797,Residential,Single Family,-1,NaN
130,2741,80014,2008,10/31/2008 12:00:00 AM,Ansonia,38 CONDON DRIVE,264300,380000.0,0.695526,Residential,Single Family,-1,NaN
156,3681,1105,2011,11/09/2011 12:00:00 AM,Ansonia,8 HOINSKI WAY,264200,310000.0,0.852258,Residential,Single Family,-1,NaN
133,2891,800312,2008,05/01/2009 12:00:00 AM,Ansonia,41 LAROVERA TERR,259900,360000.0,0.721944,Residential,Single Family,-1,NaN
73,1864,1195,2011,06/01/2012 12:00:00 AM,Ansonia,21 GRANITE TERR,252200,308000.0,0.818831,Residential,Single Family,-1,NaN
315,3909,15033,2015,11/16/2015 12:00:00 AM,Ansonia,95 BENZ STREETREET,251500,320000.0,0.785937,Residential,Single Family,-1,NaN
139,3668,100100,2010,06/28/2011 12:00:00 AM,Ansonia,8 DOREL TERR,245400,299000.0,0.820736,Residential,Single Family,-1,NaN
184,2491,14227,2014,04/24/2015 12:00:00 AM,Ansonia,31 LAROVERA TERRACE,242500,271500.0,0.893186,Residential,Single Family,-1,NaN
147,2015,14294,2014,06/29/2015 12:00:00 AM,Ansonia,23 HOINSKI WAY,242500,311600.0,0.778241,Residential,Single Family,-1,NaN
157,3709,114,2011,10/05/2011 12:00:00 AM,Ansonia,80 BEAVER STREET,241500,217000.0,1.112903,Residential,Three Family,-1,NaN
166,2286,14235,2014,04/30/2015 12:00:00 AM,Ansonia,28 HOINSKI WAY,241300,339000.0,0.711799,Residential,Single Family,-1,NaN
93,1663,800351,2008,07/28/2009 12:00:00 AM,Ansonia,19 HOINSKI WAY,240800,310000.0,0.776774,Residential,Single Family,-1,NaN
85,2029,11035,2011,08/30/2012 12:00:00 AM,Ansonia,23 SOBIN DRIVE,237400,274900.0,0.863587,Residential,Single Family,-1,NaN
218,3031,160258,2016,08/16/2017 12:00:00 AM,Ansonia,48 BERKSHIRE ROAD,237000,357500.0,0.662937,Residential,Single Family,-1,NaN
102,1405,150704,2015,06/21/2016 12:00:00 AM,Ansonia,16 DEMPSEY COURT,234800,306000.0,0.767320,Residential,Single Family,-1,NaN
174,3743,90147,2009,09/01/2010 12:00:00 AM,Ansonia,84 DWIGHT STREET,233000,255000.0,0.913725,Residential,Single Family,-1,NaN
49,1222,100104,2010,07/11/2011 12:00:00 AM,Ansonia,14 DEMPSEY CT,230000,296000.0,0.777027,Residential,Single Family,-1,NaN
104,2143,90078,2009,04/26/2010 12:00:00 AM,Ansonia,25 PROSPECT STREET,228700,225000.0,1.016444,Residential,Three Family,-1,NaN
76,1063,150649,2015,04/07/2016 12:00:00 AM,Ansonia,120 NORTH PROSPECT STREET EXTENSIO,224100,276500.0,0.810488,Residential,Single Family,-1,NaN
99,2087,90143,2009,08/16/2010 12:00:00 AM,Ansonia,24 N PROSPECT STREET,223500,245000.0,0.912245,Residential,Single Family,-1,NaN
118,2305,90148,2009,09/01/2010 12:00:00 AM,Ansonia,28 SHEASBY ROAD,223400,300000.0,0.744667,Residential,Single Family,-1,NaN
58,1333,100018,2010,11/08/2010 12:00:00 AM,Ansonia,15 LAROVERA TER,223300,308000.0,0.725000,Residential,Single Family,-1,NaN
120,3040,100099,2010,06/27/2011 12:00:00 AM,Ansonia,48 PRINDLE AVE,222500,243566.0,0.913510,Residential,Single Family,-1,NaN
87,2074,1108,2011,11/10/2011 12:00:00 AM,Ansonia,24 HOINSKI WAY,222500,250000.0,0.890000,Residential,Single Family,-1,NaN
143,3167,800071,2008,12/15/2008 12:00:00 AM,Ansonia,52 FORD STREET,222000,345000.0,0.643478,Residential,Single Family,-1,NaN
130,2634,90136,2009,07/19/2010 12:00:00 AM,Ansonia,35 BERKSHIRE ROAD,221400,280000.0,0.790714,Residential,Single Family,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,1219,1352,2013,12/19/2013 12:00:00 AM,Ansonia,14 DAY STREETREET,78600,130000.0,0.605000,Residential,Single Family,-1,NaN
217,3526,60093,2006,03/05/2007 12:00:00 AM,Ansonia,7 TORO LANE,78050,247000.0,0.315992,Residential,Single Family,-1,addl remarks
35,1091,60164,2006,06/05/2007 12:00:00 AM,Ansonia,124 WESTFIELD AVE,78000,239900.0,0.325135,Residential,Two Family,-1,NaN
81,1138,14339,2014,08/14/2015 12:00:00 AM,Ansonia,13 FRANKLIN STREETREET,77800,35000.0,2.222857,Residential,Single Family,-1,NaN
130,2137,1310,2013,10/28/2013 12:00:00 AM,Ansonia,25 MYRTLE AVENUE,77400,85000.0,0.911000,Residential,Single Family,-1,NaN
129,2136,1399,2013,04/03/2014 12:00:00 AM,Ansonia,25 MYRTLE AVENUE,77400,142000.0,0.545000,Residential,Single Family,-1,NaN
193,3176,69108,2006,04/02/2007 12:00:00 AM,Ansonia,52 N STREETATE STREET,77400,202500.0,0.382222,Residential,Single Family,-1,addl remarks
50,737,14263,2014,06/03/2015 12:00:00 AM,Ansonia,1 WOODBRIDGE AVENUE,76600,193000.0,0.396891,Residential,Single Family,-1,NaN
49,1386,60095,2006,03/12/2007 12:00:00 AM,Ansonia,157 ONEILS CT,76100,180000.0,0.422778,Residential,Single Family,-1,addl remarks
48,1146,160235,2016,07/25/2017 12:00:00 AM,Ansonia,13 MURRAY STREETREET,75900,109000.0,0.696330,Residential,Single Family,-1,NaN
226,3605,60157,2006,05/25/2007 12:00:00 AM,Ansonia,74.5 HOWARD AVE,75600,172000.0,0.439535,Residential,Single Family,-1,NaN
21,924,60114,2006,04/09/2007 12:00:00 AM,Ansonia,11 WEBB TER,75500,256250.0,0.294634,Residential,Single Family,-1,addl remarks
51,1399,60148,2006,05/14/2007 12:00:00 AM,Ansonia,16 BASSETT STREET,75100,260000.0,0.288846,Residential,Single Family,-1,NaN
305,3806,14212,2014,03/16/2015 12:00:00 AM,Ansonia,9 CRESCENT STREETREET,74600,69500.0,1.073381,Residential,Single Family,-1,NaN
159,2799,69069,2006,01/31/2007 12:00:00 AM,Ansonia,4 DOYLE DRIVE,73990,179900.0,0.411284,Residential,Single Family,-1,addl remarks
88,1523,160017,2016,10/13/2016 12:00:00 AM,Ansonia,17 MAY STREETREET,73600,125000.0,0.588800,Residential,Single Family,-1,NaN
160,2175,14181,2014,01/08/2015 12:00:00 AM,Ansonia,26 GROVE STREETREET,72600,35000.0,2.074286,Residential,Single Family,-1,NaN
75,1096,14258,2014,06/01/2015 12:00:00 AM,Ansonia,125 WAKELEE AVENUE,71500,93235.0,0.766879,Residential,Single Family,-1,NaN
227,3612,60015,2006,10/16/2006 12:00:00 AM,Ansonia,75 GROVE STREET,71100,262000.0,0.271374,Residential,Single Family,-1,addl remarks
210,2721,150584,2015,01/19/2016 12:00:00 AM,Ansonia,37 STREETAR STREETREET,70300,69000.0,1.018841,Residential,Single Family,-1,NaN
250,3845,60229,2006,09/11/2007 12:00:00 AM,Ansonia,9 MURRAY STREET,70100,185000.0,0.378919,Residential,Single Family,-1,NaN
139,1843,150591,2015,02/01/2016 12:00:00 AM,Ansonia,207 LINCOLN HAYES CONDO,69200,80000.0,0.865000,Residential,Single Family,-1,NaN
7,766,60227,2006,09/10/2007 12:00:00 AM,Ansonia,10 GARDNERS LANE,65100,220000.0,0.295909,Residential,Single Family,-1,NaN
279,3511,14317,2014,07/24/2015 12:00:00 AM,Ansonia,7 LIBERTY PINES,65100,66200.0,0.983384,Residential,Single Family,-1,NaN
82,1145,14321,2014,07/29/2015 12:00:00 AM,Ansonia,13 MURRAY STREETREET,65000,47500.0,1.368421,Residential,Single Family,-1,NaN
79,1488,13079,2013,08/05/2014 12:00:00 AM,Ansonia,17 1/2 MAY STREETREET,63100,95000.0,0.664000,Residential,Two Family,-1,NaN
149,2020,150754,2015,08/15/2016 12:00:00 AM,Ansonia,23 LIBERTY PINES,61600,64900.0,0.949153,Residential,Single Family,-1,LOW SALE BUT MOST LIKELY VALID
173,2410,14241,2014,05/06/2015 12:00:00 AM,Ansonia,3 LIBERTY PINES,61000,30000.0,2.033333,Residential,Single Family,-1,NaN
168,2302,14159,2014,12/03/2014 12:00:00 AM,Ansonia,28 NORTH FOURTH STREETREET,60000,39000.0,1.538462,Residential,Single Family,-1,NaN
145,2654,60108,2006,03/27/2007 12:00:00 AM,Ansonia,35 WOODBRIDGE AVE,29800,74000.0,0.402703,Residential,Single Family,-1,addl remarks